$text-color1: rgba(44, 64, 88, 1);
$text-color2: #FFFFFF;
$text-color3: rgba(85, 183, 255, 1);


//////////////////////////////////////////////общие
body {
  color: $text-color1;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 100%;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}

h3 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  line-height: 53.64px;
}
///////////////////////////////////////////////кнопки
.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  text-align: center;
  border: 1px solid $text-color1;
  width: 191px;
  height: 50px;
}
.gallery-btn {
  margin: 0 auto;
}
.btn:hover {
  color: $text-color1;
  background-color: $text-color3;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow:inset 3px 3px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
//////////////////////////////////////////////меню
header {
  position: relative;
  z-index: 2;
  .top-line {
    padding-top: 12px;
    height: 50px;
    width: 1170px;
    margin: 50px auto 0;
    color: $text-color2;
    position: fixed;
    z-index: 2;
    top:0;
    left:0;
    right:0;
    display: flex;
    justify-content:space-between;
    align-items: center;
    .header-logo {
      line-height: 40px;
      img {
        width: 241px;
        height: 54px;
      }
    }
    .header-menu {
      .header-menu-item {
        display: flex;
        justify-content: space-between;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        width: 515px;
        max-width: 100%;
        li {
          display: flex;
          align-items: center;
        }
        li a {
          color: $text-color2;
          text-decoration: blink;
          padding-left: 12px;
          font-family: 'Source Sans Pro', serif ;
          font-weight: 400;
          font-size: 14px;
          line-height: 17.6px;

        }
      }
    }
    .header-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 160px;
    }
  }
}
////////////////////////////////////////////////////////////humburger

//////////////////////////////////////////////////////////// slider
.item {
  height: 100%;
  width: 100%;
  text-align: center;
  color: $text-color2;
  .slider_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    position: relative;
    h2 {
      letter-spacing: 7px;
      word-spacing: 6px;
      margin-top: -18px;
      font-size: 80px;
      line-height: 97.52px;
    }
    p {
      margin-top: 36px;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 21.94px;
      letter-spacing: 5px;
      word-spacing: 2px;
    }
    .scroll {
      position: absolute;
      z-index: 2;
      top: 89%;
      left: 49%;
    }
  }
}

.slider_item1 {
  background: url("../img/Header1.jpg") 50% 50%/cover no-repeat;
}
.slider_item2 {
  background: url("../img/Header2.jpg") 50% 50%/cover no-repeat;
}
.slider_item3 {
  background: url("../img/Header3.jpg") 50% 50%/cover no-repeat;
}
.slider_item4 {
  background: url("../img/Header4.jpg") 50% 50%/cover no-repeat;
}
.slider_item5 {
  background: url("../img/Header5.jpg") 50% 50%/cover no-repeat;
}

//////////////////////////////////////////////slick custom dots
.slick-dots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 220px;
  top: 37%;
}
.slick-dots li button:before {
  font-family: 'slick', serif;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '•';
  text-align: center;
  opacity: .99;
  color: transparent;
  border-radius: 50%;
  border: 1px solid $text-color2;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $text-color2;
}

////////////////////////////////////////////// проекты
.projects {
  margin-bottom: 100px;
  .line {
    border-bottom: 1px solid black;
    width: 100px;
    margin: 97px auto 30px auto;
  }
  h3 {
    margin-bottom: 146px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    line-height: 53.64px;
  }
  .project1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1170px;
    max-width: 100%;
    margin: 0 auto 185px auto;
    .project1-illustration {
      img {
      }
    }
    .project1-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 470px;
      max-width: 100%;
      margin: 94px auto 0 auto;
      h4 {
        margin-bottom: 132px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        line-height: 26.82px;
      }
      h3 {
        margin-top: -133px;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-top: -127px;
        margin-bottom: 32px;
      }
      button {
        align-items: flex-start;
        margin-bottom: 60px;
      }
      .reference-token {
        display: flex;
        img {
          width: 9px;
          height: 15px;
        }
        a {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 15px;
          line-height: 20.43px;
        }
      }
    }
  }
}

.projects {
  margin-bottom: 131px;
  .line {
    border-bottom: 1px solid black;
    width: 100px;
    margin: 97px auto 30px auto;
  }
  h3 {
    margin-bottom: 146px;
    text-transform: uppercase;
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    line-height: 53.64px;
  }
  .project2 {
    display: flex;
    width: 1170px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    .project2-illustration{
      img {
      }
    }
    .project2-content {
      display: flex;
      flex-direction: column;
      width: 476px;
      max-width: 100%;
      margin: 94px auto 0 auto;
      h4 {
        margin-bottom: 132px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        line-height: 26.82px;
      }
      h3 {
        margin-top: -133px;
      }
      p {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        margin-top: -127px;
        margin-bottom: 32px;
      }
      button {
        align-items: flex-start;
        margin-bottom: 60px;

      }
      .reference-token {
        display: flex;
        img {
          width: 9px;
          height: 15px;
        }
        a {
          font-family: "Open Sans", sans-serif;
          font-weight: 400;
          font-style: italic;
          font-size: 15px;
          line-height: 20.43px;

        }
      }
    }
  }
}

.color {
  border-bottom: 1px solid $text-color2;
  width: 100px;
  padding-top: 99px;
  margin: 0 auto 45px auto;
}
////////////////////////////////////////////// новости
.news {
  background: url("../img/Background.png");
  padding-bottom: 100px;
  .color {
    padding-top: 135px;
    margin-bottom: 31px;
  }
  h3 {
    color: $text-color2;
    margin-bottom: 88px;
  }
  .news-slider {
    .wrap {
      margin-bottom: 113px;
      .cart {
        img {
        }
        .cart-wrap {
          background-color: $text-color2;
          width: 370px;
          padding: 20px;
          h5 {
            font-weight: 700;
            font-size: 22px;
            line-height: 26.82px;
            padding-top: 10px;
            margin-bottom: 10px;
          }
          p {
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 24.51px;
            //margin-bottom: 42px;
          }
          .signature{
            display: flex;
            margin-top: 42px;
            .signature-avatar {
              margin-right: 22px;
              img {
                border-radius: 50%;
              }
            }
            .signature-name{

              .signature-name-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: 6px;
                .name {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 21.94px;
                  margin-bottom: 6px;
                }
                .date {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 17.07px;
                  color: $text-color3;
                  margin-bottom: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .projects {
    margin-bottom: 100px;
    .line {
      margin: 97px auto 30px auto;
    }
    h3 {
      margin-bottom: 100px;
    }
    .project1,
    .project2{
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      .project1-illustration,
      .project2-illustration {
        margin: 0 auto;
      }
      .project1-content,
      .project2-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 470px;
        max-width: 100%;
        margin: 94px auto 0 auto;
        h4 {
          margin-bottom: 132px;
        }
        h3 {
          margin-top: -100px;
        }
        p {
          margin-top: -60px;
          margin-bottom: 40px;
          text-align: center;
        }
        button {
          margin-bottom: 60px;
        }
        .reference-token {
          display: flex;
        }
      }
    }
  }
}

  @media (max-width: 768px) {

}
/////////////////////////////////////////////////////// галерея
.gallery {
  .line {
    border-bottom: 1px solid black;
    width: 100px;
    margin: 140px auto 30px auto;
  }
  h3 {
    margin-bottom: 89px;
  }
}
.gallery-btn {
  margin: 0 auto;
}
.gallery-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 1170px;
  margin: 50px auto 50px;
}

.box a img{
  height: 214px;
  width: 285px;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}
.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../img/1.jpg");
}

.box2 {
  background-image: url("../img/2.jpg");
}
.box3 {
  background-image: url("../img/3.jpg");
}
.box4 {
  background-image: url("../img/4.jpg");
}
.box5 {
  background-image: url("../img/5.jpg");
}

/////////////////////////////////////////////contact-form
.contact-form {
  background-image: url("../img/form.png");
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: white;
  width: 770px;
  height: 450px;
  padding-top: 85px;
  box-shadow: 30px 70px 73px -90px #000000;
  position: absolute;
  z-index: 2;
  margin-left: -385px;
  left: 50%;
  top: 400px;
  h3 {
    margin-bottom: 13px;
  }
  .line {
    margin-top: 5px;
    margin-bottom: 6px;
  }
}

.contact-form-text {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 0 59px;
  .contact-form-title {
    width: 296px;
    .contact-form-title-details {
      display: flex;
      align-items: center;
      margin-bottom: 32px;
      img {
        width: 15px;
        height: 15px;
        margin-right: 11px;
      }
      p {
        letter-spacing: 1px;
      }
    }
  }
}

.contact-form-input {
  display: flex;
  flex-direction: column;
  border: none;
  width: 310px;
  label {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: -13px;
    }
    &:hover {
      color: transparent;
    }
    input {
      outline: none;
      background: none;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      line-height: 27px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      margin-bottom: 33px;
    }
  }
  .submit {
    font-weight: 400;
    font-size: 18px;
    border: 1px solid $text-color1;
    width: 150px;
    height: 50px;
    &:hover {
      color: $text-color1;
      background-color: $text-color3;
      cursor: pointer;
      transition: all 0.2s ease;
      box-shadow:inset 3px 3px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    }
  }
}
//////////////////////////////////////////////map
.map-form {
  margin: 147px auto 0;
  position: relative;
}
.map img{
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  height: 698px;
}
// ничего не растягивает фотку по контейнеру и не срабатывает оверлей
#map {
  width: 100%;
  height: 700px;
  > a {
    display: block;
    position: relative;
    &:after  {
      content: 'Click to interactive map';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background:  #000000;
      color: #FFFFFF;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease;
    }
    &:hover:after {
      opacity: 0.6;
    }
  }
}
////////////////////////////////////////////////////footer
footer {
  background-image: url("../img/footer.png");
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 150px 50px 50px 150px;
}

.footer {
  margin: 55px auto 30px auto;
  padding-left: 10px;
  width: 780px;
  display: flex;
  justify-content: space-between;
  .footer-logo p{
    margin-top: 41px;
    color: $text-color2;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    margin-bottom: 153px;
  }
  .footer-icon {
    width: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
}



////////////////////////////////////////////////////////
