$text-color1: rgba(44, 64, 88, 1);
$text-color2: #FFFFFF;
$text-color3: rgba(85, 183, 255, 1);


//////////////////////////////////////////////общие
body {
  color: $text-color1;
  font-family: Montserrat, sans-serif;
}
.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  height: 100%;
}
.wrap {
  width: 1170px;
  margin: 0 auto;
}
///////////////////////////////////////////////кнопки
.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  text-align: center;
  border: 1px solid $text-color1;
  width: 191px;
  height: 50px;
}
.gallery-btn {
  margin: 0 auto;
}
.btn:hover {
  color: $text-color1;
  background-color: $text-color3;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow:inset 3px 3px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
}
//////////////////////////////////////////////меню
header{
  position: relative;
  z-index: 2;
}
.top-line{
  height: 50px;
  line-height:50px;
  color: $text-color2;
  position: fixed;
  z-index: 2;
  top:0;
  left:0;
  right:0;
  justify-content:space-between;
}
.top-line.active{
  background: $text-color2;
}
.top-line, .top-line > div, .header-logo, nav{
  display:flex;
}

nav a{
  color: $text-color2;
  text-decoration: blink;
  padding: 0 5px;
}
.top-line.active nav a{
  color: #444;
}
.header-logo{
  padding: 5px;
  line-height: 40px;
}
.header-logo img{
  margin: 5px;
}
.header-menu-item {
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
////////////////////////////////////////////////////////////slider
.slick-slider {
}

.item {
  height: 100%;
  width: 100%;
  text-align: center;
  color: $text-color2;
  .slider_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 800px;
    h2 {
      font-size: 80px;
      line-height: 97.52px;
    }
    p {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
}

.slider_item1 {
  background: url("../img/Header1.jpg") 50% 50%/cover no-repeat;
}
.slider_item2 {
  background: url("../img/Header2.jpg") 50% 50%/cover no-repeat;
}
.slider_item3 {
  background: url("../img/Header3.jpg") 50% 50%/cover no-repeat;
}
.slider_item4 {
  background: url("../img/Header4.jpg") 50% 50%/cover no-repeat;
}
.slider_item5 {
  background: url("../img/Header5.jpg") 50% 50%/cover no-repeat;
}

//////////////////////////////////////////////slick custom dots
.slick-dots {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  top: 50%;
}
.slick-dots li button {
}
.slick-dots li button:before {
  font-family: 'slick', serif;
  font-size: 10px;
  line-height: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  content: '•';
  text-align: center;
  opacity: .99;
  color: transparent;
  border-radius: 50%;
  border: 1px solid $text-color2;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $text-color2;
}

////////////////////////////////////////////// проекты
.line {
  border-bottom: 1px solid black;
  width: 100px;
  margin: 99px auto 45px auto;
}
.color {
  border-bottom: 1px solid $text-color2;
  width: 100px;
  padding-top: 99px;
  margin: 0 auto 45px auto;
}

h3 {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 700;
  text-align: center;
  line-height: 80px;
}

.project1,
.project2 {
  display: flex;
}

.project1-content,
.project2-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects h3 {
  margin-bottom: 160px;
}
.projects {
  margin-bottom: 100px;
}
////////////////////////////////////////////// новости
.news {
  background: url("../img/Background.png");
  padding-bottom: 100px;
}

.news h3 {
  color: $text-color2;
}

.news-slider {
}

.cart-wrap {
  background-color: $text-color2;
  width: 370px;
  padding: 20px;
  h5 {
    font-weight: 700;
    font-size: 22px;
    line-height: 26.82px;
    padding-top: 20px;
    margin-bottom: 20px;
  }
  p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
    margin-bottom: 20px;
  }
  .signature {
    display: flex;
    .signature-avatar{
      margin-right: 20px;
    }
    .signature-avatar img {
      border-radius: 50%;
    }
    .signature-name {
      .signature-name-details {
        .name {
          font-weight: 400;
          font-size: 18px;
          line-height: 21.94px;
        }
        .date {
          font-weight: 400;
          font-size: 14px;
          line-height: 17.07px;
          color: $text-color3;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////// галерея
.gallery-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 1170px;
  margin: 50px auto 50px;
}

.box a img{
  height: 214px;
  width: 285px;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}
.box1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url("../img/1.jpg");
}

.box2 {
  background-image: url("../img/2.jpg");
}
.box3 {
  background-image: url("../img/3.jpg");
}
.box4 {
  background-image: url("../img/4.jpg");
}
.box5 {
  background-image: url("../img/5.jpg");
}


/////////////////////////////////////////////contact-form
.contact-form {
  background-image: url("../img/form.png");
  margin: 0 auto;
  background-size: contain;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-color: white;
  width: 770px;
  height: 450px;
  padding-top: 40px;
  box-shadow: 30px 70px 73px -90px #000000;
  position: absolute;
  z-index: 2;
  left: 391px;
  top: 400px;
  h3 {
  }
  .line {
    margin-top: 20px;
    margin-bottom: 17px;
  }
}

.contact-form-text {
  display: flex;
  justify-content: space-between;
  padding: 30px 60px 0 59px;

  .contact-form-title {
    width: 296px;

    .contact-form-title-details {
      display: flex;
      align-items: center;
      margin-bottom: 32px;

      img {
        width: 15px;
        height: 15px;
        margin-right: 11px;
      }
    }
  }
}

.contact-form-input {
  display: flex;
  flex-direction: column;
  border: none;
  width: 310px;
  label {
    display: flex;
    flex-direction: column;
    p {
      margin-bottom: -13px;
    }
    &:hover {
      color: transparent;
    }
    input {
      outline: none;
      background: none;
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      line-height: 27px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid black;
      margin-bottom: 33px;
    }
  }
  .submit {
    font-weight: 400;
    font-size: 18px;
    border: 1px solid $text-color1;
    width: 150px;
    height: 50px;
    &:hover {
      color: $text-color1;
      background-color: $text-color3;
      cursor: pointer;
      transition: all 0.2s ease;
      box-shadow:inset 3px 3px 2px 0px rgba(255,255,255,.5),
      7px 7px 20px 0px rgba(0,0,0,.1),
      4px 4px 5px 0px rgba(0,0,0,.1);
    }
  }
}
//////////////////////////////////////////////map
.map-form {
  margin: 50px auto 0;
  position: relative;
}
.map img{
  object-fit: cover;
  margin: 0 auto;
  width: 100%;
  height: 698px;
}
// ничего не растягивает фотку по контейнеру и не срабатывает оверлей
#map {
  width: 100%;
  height: 700px;
  > a {
    display: block;
    position: relative;
    &:after  {
      content: 'Click to interactive map';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background:  #000000;
      color: #FFFFFF;
      font-size: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .2s ease;
    }
    &:hover:after {
      opacity: 0.6;
    }
  }
}
////////////////////////////////////////////////////footer
footer {
  background-image: url("../img/footer.png");
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 150px 50px 50px 150px;
}

.footer {
  margin: 55px auto 30px auto;
  padding-left: 10px;
  width: 780px;
  display: flex;
  justify-content: space-between;
  .footer-logo p{
    margin-top: 41px;
    color: $text-color2;
    font-weight: 400;
    font-size: 14px;
    line-height: 17.07px;
    margin-bottom: 153px;
  }
  .footer-icon {
    width: 160px;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
  }
}
















