/*STYLE DROP CSS*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

a, button {
    transition: all .2s ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: calc(100 - 30px);
    max-width: 1200px;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

/*VISIBLE PART*/
/*HEADER*/
body {
    width: 100%;
    padding-left: 24px;
    padding-right: 44px;
}

.container {
    font-family: Roboto, sans-serif;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}

h1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
}

header p {
    font-size: 20px;
    font-weight: 400;
}

header img {
    width: 243px;
    height: 55px;
}

.header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-text p {
    padding-left: 15px;
}

.logo-text {
    display: flex;
    flex-direction: row;
}
.logo-text p {
    display: flex;
    flex-wrap: nowrap;
}

/*MAIN*/
.underline {
    text-decoration: underline;
}

.bolder {
    font-weight: 700;
}

.emphasis {
    background-color: lightgrey;
}

.headings-block {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 50px;
}

.headings-block sup {
    font-family: "Roboto", sans-serif;
    padding-top: 71px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 19px;
}

main h2 {
    margin-top: 66px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 1px;
}

main p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-left: 2px;
    word-spacing: 2px;
}

.block {
    padding-left: 8px;
}

.block2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    height: 300px;
}