/*Normalize.css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
* html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

/*VISIBLE PART*/
:root {
    --text-color: #544837;
    --orange-colore: #FF9900;
}

html {
    width: 100%;
    height: 100%;
    color: #585260;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--text-color);
    font-size: 1rem;
    max-width: 1400px;
    width: 100%;
}

.wrapper {
    max-width: 1125px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}

/*HEADER AND NAV*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
}

#logo {
    margin-top: 8px;
}

.main_menu {
    font-weight: 400;
    font-size: 14px;
    padding-top: 10px;
    padding-left: 295px;
    letter-spacing: 1px;
}

.main_menu ul li {
    display: inline-block;
    font-size: 13px;
}

.main_menu  ul li a {
    color: #2F281E;
    line-height: 28px;
    margin: 0 12px;
}

.main_menu ul li:hover,
.main_menu ul li:active {/*другой цвет для приличия*/
    color: var(--orange-colore);
}

.btn_wrap {
    margin-left: 30px;
    text-align: right;
}

.btn_wrap .btn:first-child {
    margin-right: 6px;
    margin-left: -2px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 0 41px;
    height: 53px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    transition: all .2s ease;
}

header .btn {
    padding: 0 24px;
    height: 46px;
    font-weight: 600;
}

.btn.white {
    background-color: #fff;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.btn.white:hover {
    background-color: #173A56;
    border-color: #173A56;
    color: #fff;
}

.btn.orange {
    background-color: var(--orange-colore);
    color: #fff;
    border: 1px solid var(--orange-colore);
}

.btn.orange:hover {
    background-color: #fff;
    color: var(--orange-colore);
}

/*FIRST BLOCK*/
.first-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 131px;
    margin-left: 2px;
}

.description-block1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 495px;
}

.description-block1 p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 58px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 29px;
}

.size {
    width: 175px;
}

.more-info {
    display: inline-block;
}

.more-info a {
    font-size: 16px;
    font-weight: 600;
    color: var(--orange-colore);
    padding-left: 32px;
    text-align: center;
}

.first-block a:before {
    content: ' \2023';
    font-size: 30px;
    color: var(--orange-colore);
}

.first-block figure {
    margin-top: -82px;
}

/*SECOND BLOCK*/
.subtitle {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    padding-top: 28px;
    margin-left: 6px;
}

.second-block {
    display: inline-flex;
    margin-top: 53px;
    margin-left: 16px;
}

.second-block-subgroup {
    display: flex;
    flex-direction: column;
}

.second-block-subgroup img {
    height: 50px;
    width: 50px;
    margin-bottom: 32px;
}

.second-block-subgroup h3 {
    font-size: 20px;
    margin-bottom: 16px;
}

.middle {
    margin-top: 63px;
    margin-left: 478px;
}

/*THIRD BLOCK*/
.third-block {
    margin-top: 239px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.third-block-subgroup-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.third-block-subgroup-2 {
    width: 50%;
}

.fifth-block-subgroup-2 {
    width: 50%;
}
.third-block-subgroup-1 h2{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 23px;
    padding-left: 2px;
}

.accessory {
    font-weight: 700;
    font-size: 16px;
    padding-top: 36px;
    padding-bottom: 13px;
}

.alterations {
    font-weight: 700;
    font-size: 16px;
    padding-top: 29px;
    padding-bottom: 13px;
}

.custom {
    font-weight: 700;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.third-block-subgroup-1 p {
    font-weight: 400;
    font-size: 16px;
}

.third-block figure {
    margin-top: -29px;
    margin-left: 29px;
}

/*FOURTH BLOCK*/
.fourth-block {
    margin-top: 144px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.fourth-block p {
    margin-bottom: 2px;
}

.fourth-block-subgroup-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding-left: 71px;
}

.fourth-block-subgroup-1 h2{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 23px;
    padding-left: 2px;
}

.fourth-block-subgroup-1 ul {
    margin-top: 25px;
}

.list4a li {
    position: relative;
    padding:12px 20px 20px 35px;
    margin-left: 33px;
}

.list4a li:before {
    line-height: 30px;
    position: absolute;
    top: 0;
    left:-30px;
    width: 35px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    box-sizing: border-box;
}

.list4a li:after {
    position: absolute;
    top: 0;
    left: -30px;
    width: 35px;
    height: 35px;
    border-radius: 40%;
    content: '\2714';
    color: white;
    text-align: center;
    background-color: orange;
}

.fourth-block figure {
    margin-top: -50px;
}

/*FIFTH BLOCK*/
.fifth-block {
    margin-top: 140px;
    padding-left: 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.fifth-block-subgroup-1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.fifth-block h2 {
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 23px;
    padding-left: 2px;
}

.accessory {
    font-weight: 700;
    font-size: 16px;
    padding-top: 36px;
    padding-bottom: 13px;
}

.alterations {
    font-weight: 700;
    font-size: 16px;
    padding-top: 29px;
    padding-bottom: 13px;
}

.custom {
    font-weight: 700;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.fifth-block figure {
    margin-top: -44px;
    margin-left: 8px;
}

/*FOOTER*/
footer {
    margin-top: 141px;
    padding-top: 102px;
    padding-left: 15px;
    display: flex;
    border-top: 1px solid rgba(188, 208, 229, 0.4969);
}
.about {
    padding-left: 140px;
    padding-top: 70px;
}

.about li a {
    color: rgba(84, 72, 55, 1);
}

.about.policy.connect {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.policy, .about li {
    display: inline-block;
    padding-bottom: 4px;
}

.policy, .about li a {
    display: block;
    white-space: nowrap;
    line-height: 30px;
}

.policy {
    padding-left: 181px;
    padding-top: 73px;
}

.policy li a {
    color: rgba(84, 72, 55, 1);
}

.connect {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 91px;
    padding-left: 76px;
}

.connect label input{
    height: 48px;
    width: 325px;
}

.btn-footer {
    display: inline-block;
    cursor: pointer;
    padding: 0 41px;
    margin-top: 22px;
    height: 39px;
    width: 131px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    transition: all .2s ease;
    background-color: var(--orange-colore);
    color: #fff;
    border: 1px solid var(--orange-colore);
}












