/*Normalize.css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
* html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*VISIBLE PART*/
:root {
    --text-color: #544837;
    --orange-colore: #FF9900;
}

html {
    width: 100%;
    height: 100%;
    color: #585260;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--text-color);
    font-size: 1rem;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.max-width {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1110px;
}
/*Header and nav*/
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    padding: 35px;
}

#logo {
    float: left;
    margin-top: 8px;
}

.btn_wrap {
    float: right;
    margin-left: 30px;
    text-align: right;
}

.main_menu {
    float: right;
    margin-top: 11px;
    margin-right: 43px;
}

.main_menu ul {
    text-align: right;
    font-size: 0;
}

.main_menu ul li {
    display: inline-block;
    font-size: 13px;
    padding-left: -1px;
}

.main_menu  ul li a {
    color: #2F281E;
    font-size: 13px;
    line-height: 28px;
    margin: 0 12px;
}

.main_menu ul li:hover,
.main_menu ul li:active {/*другой цвет для приличия*/
    color: var(--orange-colore);
}

.btn_wrap .btn:first-child {
    margin-right: 6px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 0 41px;
    height: 53px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    transition: all .2s ease;
}

header .btn {
    padding: 0 24px;
    height: 46px;
    font-weight: 600;
}

.btn.white {
    background-color: #fff;
    color: #173A56;
    border: 1px solid #BCD0E5;
}

.btn.white:hover {
    background-color: #173A56;
    border-color: #173A56;
    color: #fff;
}

.btn.orange {
    background-color: var(--orange-colore);
    color: #fff;
    border: 1px solid var(--orange-colore);
}

.btn.orange:hover {
    background-color: #fff;
    color: var(--orange-colore);
}

/*First block*/
h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}

.description-block1 figure {
    width: 604px;
    height: 495px;
}

.first-block {
    display: inline-flex;
    margin-top: 96px;
}
.first-block a:before {
    content: ' \2023';
    font-size: 30px;
    color: var(--orange-colore);
}

/*Second block*/
.second-block {
    display: inline-flex;
    margin-top: 96px;
}

/*Third block*/
.third-block figure {
    width: 520px;
    height: 574px;
}

/*Fourth block*/
.fourth-block figure {
    width: 535px;
    height: 527px;
}

/*Fifth block*/
.fifth-block figure {
    width: 542px;
    height: 609px;
}

/*Footer*/
footer {
    display: flex;

}
.about.policy.connect {
    display: flex;
    flex-direction: column;
    height: 100%;
}













