/*Normalize.css*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}
* html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

/*VISIBLE PART*/
:root {
    --text-color: #544837;/*цвет текста*/
    --orange-colore: #FF9900;/*оранжевый цвет в проекте*/
    --color-links: #2F281E;/*цвет ссылок*/
}

body {
    font-family: Poppins, sans-serif;/*семейство шрифта*/
    color: var(--text-color);/*цвет текста*/
    font-size: 1rem;/*размер шрифта в rem*/
    max-width: 1400px;/*максимальная ширина*/
    width: 100%;/*для адаптивности - 100% ширины*/
}

.wrapper {
    max-width: 1125px;/*максимальная ширина контентной части*/
    width: 100%;/*для адаптивности - 100% ширины*/
    margin: 0 auto;/*центровка контента посредине*/
}

/*HEADER AND NAV*/
header {
    display: flex;/*флекс контейнер*/
    flex-direction: row;/*направление - строка*/
    flex-wrap: wrap;/*перенос при изменении размера*/
    padding-top: 34px;/*внутренний отступ от верха страницы*/
    padding-left: 6px;/*боковой внутренний отступ*/
}

#logo {
    margin-top: 8px;/*отступ для лого - ровняем под макет*/
}

.main_menu {
    display: flex;/*флекс контейнер*/
    flex-direction: row;/*направление - строка*/
    flex-wrap: wrap;/*перенос при изменении размера*/
    font-weight: 400;/*размер шрифта*/
    letter-spacing: 0.0625rem;/*подбор расстояния между буквами*/
    margin-top: 11px;/*оступ сверху*/
    margin-left: 295px;/*отступ слева*/
}

.main_menu ul li {
    display: inline-block;/*превращение пунктов меню в блочные*/
    font-size: 0.8125rem;/*размер текста rem 13px*/
}

.main_menu  ul li a {
    color: var(--color-links);/*цвет ссылок*/
    margin: 0 12px;/*расстояние между ссылками*/
}

.main_menu ul li:hover,
.main_menu ul li:active {
    color: var(--orange-colore);/*другой цвет при наведении*/
}

.btn_wrap {
    margin-left: 45px;/*отступ слева контейнера с кнопками*/
}

.btn_wrap .btn:first-child {
    margin-right: 9px;/*расстояние внутреннее между кнопками справа*/
    margin-left: -2px;/*расстояние внутреннее между кнопками слева*/
}

.btn {
    display: inline-block;/*делаем кнопку блочным элементом*/
    cursor: pointer;/*вариант курсора*/
    padding: 0 41px;/*внутренние отступы*/
    height: 53px;/*высота кнопки*/
    font-size: 1rem;/*размер шрифта*/
    font-weight: 700;/*толщина текста*/
    border-radius: 4px;/*скругление кнопки*/
    transition: all .2s ease;/*время изменения при эффектах*/
}

header .btn {
    padding: 0 24px;/*переопределяем отступы для кнопок заголовка*/
    height: 47px;/*переопределяем высоту для кнопок заголовка*/
}

.btn.white {
    background-color: #fff;/*цвет внутри кнопки*/
    border: 1px solid #BCD0E5;/*цвет границы*/
}

.btn.white:hover {
    background-color: #173A56;/*цвет при наведении*/
    border-color: #173A56;/*цвет границы*/
    color: #fff;/*цвет текста*/
}

.btn.orange {
    background-color: var(--orange-colore);/*фон кнопки*/
    color: #fff;/*цвет текста*/
    border: 1px solid var(--orange-colore);/*цвет границы*/
}

.btn.orange:hover {
    background-color: #fff;/*фон при наведении*/
    color: var(--orange-colore);/*цвет текста при наведении*/
}

@media all and (max-width: 800px) {/* Средние экраны */
    header {

    }
}

@media all and (max-width: 500px) {/* Маленькие экраны */
    header {
    }
    nav {
    }
    nav ul li {
    }
}

/*FIRST BLOCK*/
.first-block {
    width: 1126px;/*ширина контейнера*/
    display: flex;/*флекс контейнер*/
    flex-wrap: wrap;/*перенос при изменении размера*/
    flex-direction: row;/*направление - строка*/
    margin-top: 130px;/*отступ от верхнего блока по макету*/
    margin-left: 7px;/*отступ от левого края по макету*/
}

.description-block1 {
    display: flex;/*флекс контейнер*/
    flex-wrap: wrap;/*перенос при изменении размера*/
    flex-direction: column;/*направление - колонка*/
    height: 495px;/*высота блока*/
}

.description-block1 p {
    font-weight: 400;/*толщина текста*/
    font-size: 1.125rem;/*размер шрифта*/
    margin-bottom: 58px;/*отступ снизу до кнопок и ссылки*/
}

h1 {
    font-weight: 700;/*толщина текста*/
    font-size: 2.75rem;/*размер текста*/
    line-height: 54px;/*расстояние между строками текста*/
    margin-bottom: 29px;/*отступ снизу до блока с текстом*/
}

.size {
    width: 175px;/* доп класс для кнопки - расшириена по сравнению с другими*/
    letter-spacing: 0.0313rem;/*расстояние между буквами как по макету*/
}

.more-info {
    margin-top: -33px;/*подняла элемент по уровню в макете*/
}

.more-info a {
    font-size: 1rem;/*размер ссылки*/
    font-weight: 700;/*толщина текста*/
    color: var(--orange-colore);/*цвет ссылки*/
    padding-left: 12px;/*отступ от кнопки*/
}

.first-block a:before {
    position: relative;/*задаем возможность сдвинуть значок относительно его положение*/
    top: 15px;/*сдвигаем объект вниз по макету*/
    content: ' \2023';/*вставляем значок перед текстом*/
    font-size: 3.75rem;/*задаем размер значку*/
    color: var(--orange-colore);/*задаем цвет значку*/
}

.first-block figure img{
    margin-top: -82px;/*ровняем рисунок отступом от верхней границы*/
    margin-left: 65px;/*отступаем слева по макету*/
}

/*SECOND BLOCK*/
.subtitle {
    font-weight: 700;/*жирность текста*/
    font-size: 2.25rem;/*размер текста*/
    text-align: center;/*позиционирование текста - центр*/
    margin-top: 29px;/*отступ сверху по макету*/
    margin-left: 17px;/*отступ слева по макету*/
}

.second-block {
    display: flex;/*делаем флекс контейнер*/
    margin-top: 53px;/*отступаем от заголовка вниз*/
    margin-left: 24px;/*оступаем слева по макету*/
    width: 100%;
    max-width: 1125px;
}

.second-block-subgroup {
    display: flex;/*делаем флекс контейнер*/
    flex-direction: column;/*направляем контент в колонки*/
    width: 25%;
}

.second-block-subgroup img {
    height: 50px;/*высота иконки*/
    width: 50px;/*ширина иконки*/
    margin-bottom: 32px;/*отступ снизу до подзаголовка*/
}

.second-block-subgroup h3 {
    font-size: 1.375rem;/*размер текста подзаголовков*/
    margin-bottom: 15px;/*остутп вниз до текста*/
}

.middle {
    margin-top: 61px;/*отступ кнопки сверху*/
    margin-left: 484px;/*отступ кнопки слева*/
}

.line {
    margin-left: 17px;/*смещаем значки под макет в фигме*/
}

.hard {
    margin-left: 16px;/*смещаем значки под макет в фигме*/
}

.weight {
    margin-left: 15px;/*смещаем значки под макет в фигме*/
}

/*THIRD BLOCK*/
.third-block {
    display: flex;/*делаю флекс контейнер*/
    flex-wrap: wrap;/*разрешаю переносить при ресайзе дисплея*/
    flex-direction: row;/*даю направление - строка*/
    margin-top: 236px;/*отступаю от верхнего блока*/
    margin-left: 6px;/*оступаю слева по макету*/
}

.third-block-subgroup-1 {
    display: flex;/*делаю флекс контейнер*/
    flex-direction: column;/*направление - колонка*/
    width: 50%;/*ширина от родителя половина дисплея*/
}

.third-block-subgroup-2 {
    width: 50%;/*ширина второй части флекс контейнера половина*/
}

.third-block-subgroup-1 h2{
    font-weight: 700;/*жирность текста*/
    font-size: 2.25rem;/*размер текста*/
    margin-top: 3px;/*отступ сверху по макету*/
    margin-bottom: 23px;/*отступ снизу по макету*/
    margin-left: 2px;/*отступ слева по макету*/
}

.third-block-subgroup-1 p {
    font-weight: 400;/*жирность текста*/
    font-size: 1rem;/*размер текста*/
    padding-left: 2px;/*отступ слева по макету*/
}

.accessory {
    padding-top: 36px;/*отступ сверху по макету*/
    padding-bottom: 13px;/*отступ снизу по макету*/
}

.alterations {
    padding-top: 30px;/*отступ сверху по макету*/
    padding-bottom: 13px;/*отступ снизу по макету*/
}

.custom {
    padding-top: 30px;/*отступ сверху по макету*/
    padding-bottom: 15px;/*отступ снизу по макету*/
}

.third-block figure {
    margin-top: -27px;/*отступ сверху по макету*/
    margin-left: 32px;/*отступ слева по макету*/
}

/*FOURTH BLOCK*/
.fourth-block {
    display: flex;/*делаю флекс контейнер*/
    flex-wrap: wrap;/*разрешаю переносить при ресайзе дисплея*/
    flex-direction: row;/*даю направление - строка*/
    margin-top: 145px;/*отступаю сверху по макету*/
}

.fourth-block figure {
    margin-top: -50px;/*отступаю сверху по макету*/
    margin-left: 6px;/*отступаю слева по макету*/
}

.fourth-block-subgroup-1 {
    display: flex;/*делаю флекс контейнер*/
    flex-wrap: wrap;/*разрешаю переносить при ресайзе дисплея*/
    flex-direction: column;/*даю направление - колонка*/
    width: 50%;/*ширина элемента*/
    padding-left: 98px;/*отступ по макету*/
}

.fourth-block p {
    margin-bottom: 2px;/*отступ вниз по макету*/
}

.fourth-block-subgroup-1 h2{
    font-weight: 700;/*жирность текста*/
    font-size: 2.25rem;/*размер шрифта*/
    padding-bottom: 23px;/*отступ снизу по макету*/
    padding-left: 2px;/*отступ справа по макету*/
}

.fourth-block-subgroup-1 ul {
    margin-top: 25px;/*отступ сверху под макет*/
}

.list4a li {
    position: relative;/*сдвиг относительно своей позиции*/
    padding:12px 20px 20px 35px;/*сдвиги внутренние по макету*/
    margin-left: 33px;/*отступ внешний слева по макету*/
}

.list4a li:after {
    position: absolute;/*выдергиваем из потока относительно предка с позицией релатив*/
    top: 18px;/*сдвиги внутренние по макету*/
    left: -30px;/*сдвиги внутренние по макету*/
    width: 35px;/*ширина элемента*/
    height: 35px;/*высота элемента*/
    border-radius: 40%;/*округление элемента*/
    content: '\2714';/*галочка в элементе*/
    color: white;/*цвет галочки*/
    text-align: center;/*позиция галочки в центре элемента*/
    background-color: orange;/*цвет самого элемента*/
}


/*FIFTH BLOCK*/
.fifth-block {
    display: flex;/*делаю флекс контейнер*/
    flex-wrap: wrap;/*разрешаю переносить при ресайзе дисплея*/
    flex-direction: row;/*даю направление - строка*/
    margin-top: 137px;/*отступаю сверху по макету*/

}

.fifth-block-subgroup-1 {
    display: flex;/*делаю флекс контейнер*/
    flex-wrap: wrap;/*разрешаю переносить при ресайзе дисплея*/
    flex-direction: column;/*направление - колонка*/
    width: 50%;/*ширина подобъекта - половина*/
    padding-left: 8px;/*отступ слева по макету*/
}

.fifth-block h2 {
    font-weight: 700;/*жирность шрифта*/
    font-size: 2.25rem;/*размер шрифта*/
    margin-top: 3px;/*отступы сверху по макету*/
    margin-bottom: 23px;/*отступы снизу по макету*/
    margin-left: 2px;/*отступы слева по макету*/
}

.accessory {
    padding-top: 36px;/*отступы сверху по макету*/
    padding-bottom: 13px;/*отступы снизу по макету*/
}

.alterations {
    padding-top: 29px;/*отступы сверху по макету*/
    padding-bottom: 13px;/*отступы снизу по макету*/
}

.custom {
    padding-top: 30px;/*отступы сверху по макету*/
    padding-bottom: 15px;/*отступы снизу по макету*/
}

.fifth-block figure {
    margin-top: -39px;/*отступы сверху по макету*/
    margin-left: 15px;/*отступы слева по макету*/
}

/*FOOTER*/
footer {
    display: flex;/*делаю флекс контейнер*/
    margin-top: 139px;/*отступаю сверху по макету*/
    padding-top: 102px;/*отступаю внутри по макету*/
    padding-left: 20px;/*оступаю слева по макету*/
    border-top: 1px solid rgba(188, 208, 229, 0.4969);/*делаю полоску по макету - бордер контейнера*/
}
.about {
    padding-left: 140px;/*оступаю слева по макету*/
    padding-top: 70px;/*отступаю внутри по макету*/
}

.about li a {
    color: var(--color-links);/*цвет ссылок*/
}

.about.policy.connect {
    display: flex;/*флекс контейнер*/
    flex-direction: column;/*направление колонка*/
}

.policy, .about li {
    display: inline-block;/*делаю элементы блочными*/
    padding-bottom: 4px;/*отступаю после каждой ссылки*/
}

.policy, .about li a {
    white-space: nowrap;/*переношу сылки на новую строку после верхнего инлайна*/
    line-height: 30px;/*отступаю после каждой ссылки*/
}

.policy {
    padding-left: 176px;/*отступаю как по макету*/
    padding-top: 66px;/*оступаю как по макету*/
    line-height: 35px;/*делаю расстояние как по макету для policy*/
}

.policy li a {
    color: var(--color-links);/*цвет ссылок*/
}

.connect {
    display: flex;/*контейнер флекс*/
    flex-direction: column;/*направление - колонка*/
    padding-top: 91px;/*отступаю по макету сверху*/
    padding-left: 81px;/*отступаю по макету слева*/
}

.connect label input{
    height: 48px;/*высота поля ввода*/
    width: 325px;/*ширина поля ввода*/
}

.btn-footer {
    cursor: pointer;/*тип курсора*/
    padding: 0 41px;/*оступы внутренние*/
    margin-top: 22px;/*отступ внешний по макету*/
    height: 39px;/*высота книпки*/
    width: 131px;/*ширина кнопки*/
    font-size: 1rem;/*размер шрифта*/
    font-weight: 700;/*жирность текста*/
    border-radius: 4px;/*скругление кнопки*/
    background-color: var(--orange-colore);/*цвет кнопки*/
    color: #fff;/*цвет текста*/
}












