@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?9rxuzf');
  src:  url('../fonts/icomoon.eot?9rxuzf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?9rxuzf') format('truetype'),
    url('../fonts/icomoon.woff?9rxuzf') format('woff'),
    url('../fonts/icomoon.svg?9rxuzf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
