@font-face {
  font-family: 'icomoon';
  src:  url('../css/icomoon.eot');
  src:  url('../css/icomoon.eot?o5nkz3#iefix') format('embedded-opentype'),
    url('../css/icomoon.ttf?o5nkz3') format('truetype'),
    url('../css/icomoon.woff?o5nkz3') format('woff'),
    url('../css/icomoon.svg?o5nkz3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-hren .path1:before {
  content: "\e902";
  color: rgb(239, 238, 243);
}
.icon-hren .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(13, 13, 13);
}
.icon-inst .path1:before {
  content: "\e908";
  color: rgb(239, 238, 243);
}
.icon-inst .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(13, 13, 13);
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}
