/*style drop css*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

a, button {
    transition: all .2s ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

/*VISIBLE PART*/
* {
    transition: all 1s ease-in-out;/*Делаю анимацию на 1 секунду для эффекта*/
}

body {
    background-color: white;/*Весь фон белый*/
    font-family: 'Gilroy', sans-serif;/*Семейство шрифтов*/
    color: #070707;/*Цвет текста на странице*/
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #828282;/*Полоска под хедером*/
    margin: 0 auto;/*центруем посредине*/
    font-size: 16px;/*размер текста*/
    max-width: 940px;/*максимальная ширина бока*/
}

#main-menu ul {
    display: flex;/**/
    justify-content: space-between;/**/
    font-size: 18px;/**/
    font-weight: 700;/**/
    text-align: center;/**/
    padding: 31px 0;/**/
}

#main-menu ul li a {
    font-size: 18px;/**/
    line-height: 25px;/**/
    color: #828282;/**/
    text-decoration: none;/**/
}

#main-menu ul li a.active,
#main-menu ul li a:hover {
    color: #070707;/**/
}

a {
    color: #070707;
}

a:hover {
    color: #828282;
}

.white {
    background-color: #fff;/**/
}

.gray {
    background-color: #f6f6f6;/**/
}

.flex {
    display: flex;/**/
    flex-direction: row;/**/
    flex-wrap: wrap;/**/
    justify-content: space-between;/**/
    width: 943px;/**/
}

section {
    padding: 63px 0;/**/
}

h1 {
    font-size: 47px;/**/
    margin-top: 10px;/**/
}

.info {
    display: flex;/**/
    flex-direction: column;/**/
    text-align: left;/**/
    font-size: 18px;/**/
    font-weight: 600;/**/
    margin-top: 68px;/**/
    margin-left: 98px;/**/
}

.vertical-logo {
    transform: rotate(-90deg);/**/
    font-size: 16px;/**/
    padding-right: 100px;/**/
    padding-bottom: 100px;/**/
}

.first-screen {
    padding: 27px 0 104px;/**/
}

img {
    max-width: 936px;/**/
    max-height: 522px;/**/
    margin: 0 auto;/**/
    display: block;/**/
}

h2 {
    text-align: center;/**/
    font-size: 34px;/**/
    line-height: 46px;/**/
    margin-bottom: 23px;/**/
}

p {
    text-align: center;/**/
    margin-bottom: 43px;/**/
    font-size: 18px;/**/
}

#size2 {
    padding-top: 117px;/**/
    padding-left: 2px;/**/
}

.size2 p {
    padding-top: 2px;/**/
    padding-bottom: 10px;/**/
}

.size2:first-child p {
    padding-bottom: 2px;/**/
}

.size2 .block:last-child p {
    padding-bottom: 20px;/**/
}

#size3 {
    padding-bottom: 54px;/**/
}

#size3 h2 {
    padding-top: 22px;
    padding-bottom: 30px;
}

#size3 p {
    margin-bottom: 87px;/**/
}

#size4 {
    padding-top: 89px;/**/
    padding-left: 12px;
    padding-bottom: 82px;/**/
}

#size3 h2 {
    margin-bottom: 25px;/**/
}

#size3 img {
    margin-bottom: 25px;/**/
}

.block-img-flex p {
    font-size: 14px;
    font-weight: 700;
}

.block-img-flex-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 166px;
}

.block-img {
    display: flex;/**/
    flex-direction: row;/**/
    justify-content: space-between;/**/
}

#size4 h2 {
    margin-bottom: 52px;/**/
}

#size4 figure {
    margin-bottom: 100px;/**/
}

#size4 figure:last-child {
    margin-bottom: 20px;/**/
}

figcaption {
    margin-top: 42px;/**/
    text-align: center;/**/
    font-size: 18px;/**/
    line-height: 25px;/**/
}

.braun {
    margin-top: 5px;
}

footer {
    padding-top: 100px;/**/
    padding-bottom: 100px;/**/
    text-align: center;/**/
}

.size5 .contacts p {
    padding-left: 2px;

}

.btn {
    font-weight: 700;
    font-size: 18px;
    width: 180px;/**/
    height: 42px;/**/
    margin: -10px auto 85px auto;/**/
    padding: 0 20px;/**/
    line-height: 38px;
    background-color: #333;/**/
    color: #fff;
    text-decoration: none;/**/
    border-radius: 21px;/**/
    cursor: pointer;/**/
    border: 2px solid #333;/**/
}

.btn:hover {
    background-color: #fff;/**/
    color: #333;/**/
}

.footer-logo a {
    display: inline-block;/**/
    width: 40px;/**/
    height: 40px;/**/
    margin: 0 28px;/**/
}

.footer-author {
    margin: 38px auto 10px auto;/**/
    width: 243px;/**/
    height: 63px;/**/
    text-align: center;/**/
    color: #828282;/**/
    font-size: 14px;/**/
}