/*style drop css*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

a, button {
    transition: all .2s ease-in;
}

a:hover {
    text-decoration: underline;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*VISIBLE PART*/
body {
    background-color: white;
    font-family: 'Gilroy', sans-serif;
    color: #070707;
}

.container {
    width: 90%;
    background-color: #fff;
    margin: 0 auto;
}

.gray {
    background-color: #f6f6f6;
}

.white {
    background-color: #fff;
}

header {
    border-bottom: 1px solid #828282;/*линия отделяющая меню от остального блока*/
    max-width: 940px;/*максимальная ширина по макету*/
    margin: 0 auto;/*центрирование*/
}

a {
    color: rgba(130, 130, 130, 1);/*цвет ссылки*/
    font-weight: 700;/*жирность текста*/
    font-size: 18px;/*размер текста*/
}

a:hover {
    color: #070707;/*цвет при наведении*/
}

/*часть с js*/
.topnav {
    overflow: hidden;/*не даст содержимому вылезти за контейнер*/
}

.topnav_menu {
    display: flex;
    justify-content: space-between;
}

.topnav a {
    float: left;/*переносится влево в контейнере*/
    padding: 14px 16px;/*внутренние отступы формирующие пункт меню*/
    text-decoration: none;/*нет подчеркивания*/
    font-size: 17px;/*размер текста*/
}

.topnav a.active {
    color: #070707;/*цвет текста с классом активный*/
}

.topnav .icon {
    display: none;/*прячет бургер при нормаьном размере экрана*/
}

@media screen and (max-width: 600px) {/*правила при размере от 600px*/
    .topnav a:not(:first-child) {
        display: none;/*прячет все пункты кроме первого HOME*/
    }
    .topnav a.icon {/**/
        float: right;/*сдвигает элемент бургера вправо*/
        display: block;/*показывает его делая блочным*/
    }
}

@media screen and (max-width: 600px) {/**/
    .topnav.responsive {position: relative;}/**/
    .topnav.responsive .icon {/**/
        position: absolute;/*абсолютное позиционирование относиельно боди*/
        right: 0;/*прилипает к стенке контейнера справа*/
        top: 0;/*прилипает к стенке контейнера сверху*/
    }

    .topnav.responsive a {/**/
        float: none;/*отменяет перенос вправо*/
        display: block;/*делает строчные элементы блочными*/
        text-align: left;/*равняет текст по левому краю*/
    }
}




.submission {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 25px;
    padding-bottom: 37px;
}

.submission:first-child {
    padding-top: 23px;
}

h1 {
    font-size: 48px;
    margin-top: 9px;
    letter-spacing: -1px;
    line-height: 58px;
}

.rotate {
    transform: rotate(-90deg);
    position: relative;
    right: -28px;
    top: -37px;
}

.responsive_img {
    width: 100%;
    height: auto;
}

.block_about_me {/*как сделать серый фон на весь дисплей?*/
    margin-top: 109px;
    padding-bottom: 70px;
    padding-top: 113px;
    background-color: #f6f6f6;
}

h2 {
    text-align: center;
    font-size: 34px;
    line-height: 46px;
    padding-bottom: 26px;
}

.block_skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 83px;
    padding-bottom: 110px;
}

.block_skills h2 {
    margin-bottom: 31px;
}

.block_skills p {
    margin-bottom: 87px;
}

.block_skills_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 72%;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.block_portfolio {
    max-width: 936px;
    width: 100%;
    margin: 0 auto;
    padding-top: 107px;
    padding-bottom: 1px;
    background-color: #f6f6f6;
}

.block_portfolio h2 {
    padding-bottom: 50px;
}

.block_about_me p {
    text-align: center;
    margin-bottom: 43px;
    font-size: 18px;
}

img {
    max-width: 936px;
    max-height: 522px;
    margin: 0 auto;
    display: block;
}

figure {
    margin-bottom: 100px;
    background-color: #f6f6f6;
}

figcaption {
    margin-top: 42px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

footer {
    padding-top: 103px;
    padding-bottom: 100px;
    text-align: center;
}

footer p {
    margin-bottom: 45px;
}

.btn {
    font-weight: 700;
    font-size: 18px;
    width: 180px;
    height: 42px;
    margin: -10px auto 85px auto;
    padding: 0 20px;
    line-height: 38px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 21px;
    cursor: pointer;
    border: 2px solid #333;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.footer-logo a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 28px;
}

.footer-author {
    margin: 38px auto 10px auto;
    width: 243px;
    height: 63px;
    text-align: center;
    color: #828282;
    font-size: 14px;
}

.icon .icon-sphere span {
    display: block;
    color: black;
    font-size: 40px;
    width: 10px;
    height: 10px;
}










































