/*Normalize.css*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*VISIBLE PART - dark*/
html, body {
    background: rgb(250,251,254);
    font-family: Montserrat, sans-serif;
}

    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1300px;
        background: #000000;
    }

    /*HEADER*/
    h1 {
        font-weight: lighter;
        text-align: center;
        font-size: 45px;
        margin: 1em;
        letter-spacing: 0.2em;
        color: ivory;
    }

    .fa {
        color: ivory;
        font-size: 0.7em;
    }

    /*Part 1*/
    h2 {
        text-align: center;
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 30px;
        color: #6c6b70;
        text-shadow: -1px -1px 1px #111,
        2px 2px 1px #363636;
    }

    .part1 {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .part1_avatar img {
        height: 400px;
        border-radius: 15%;
        border-width: 2px;
        border-style: solid;
        border-color: #1067f7;
    }

    .part1_social_network {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /*Part 2*/
    h3 {
        text-align: center;
        font-size: 25px;
        color: rgb(250, 251, 254);
        margin: 10px;
    }

    .part2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .part2_skills {
        width: 50%;
        height: 350px;
        padding: 2%;
        margin: 2%;
        display: inline-block;
        line-height: 1.4em;
    }

    ul {
        text-align: center;
    }

    li {
        color: #6c6b70;
    }

    /*Part 3*/
    .part3 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    h4 {
        text-align: center;
        font-size: 20px;
        color: rgb(250, 251, 254);
        margin: 25px;
        border-style: solid;
        border-color: #1067f7;
    }
    .example_of_work {
        background: ivory;
        padding: 5%;
        margin: 5%;
        align-items: center;
        border-radius: 50%;
        transition: all .6s;
        border-width: 2px;
        border-style: solid;
        border-color: #1067f7;
    }
    .example_of_work:hover {
        transform: scale(1) rotate(360deg);
    }

    /*FOOTER*/
    .footer {
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        background-color: #111;
        opacity: .8;
        overflow: hidden;
        margin: 0 -20px 0 -20px;
    }

    .footer_details {
        text-align: center;
        width: 30%;
        line-height: 1.4em;
        margin: 5px;
    }

    .fab {
        font-size: 2em;
        text-align: center;
        width: 30px;
        height: 30px;
        padding: 5px;
        color: #6c6b70;
        border-radius: 15px;
    }

    .fab:hover {
        color: #1067f7;
    }






