$background-container-color: hsl(0,0%,89.8%);
$sub-text-color: hsl(180,2.6%,54.9%);
$edit-style-color: hsl(48,100%,50%);
$content-text: Raleway, sans-serif;
$titles_text: Roboto, sans-serif;
$base_fz: 16;/*формула автопервода из px в rem*/


@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

%frame_size {
  width: 70px;
  height: 70px;
  position: absolute;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  text-transform: uppercase;
  color: $sub-text-color;
  font-family: $content-text;
  font-size: 12px;
  margin-top: 76px;
  margin-bottom: 20px;
  word-spacing: 2px;
}

h1 {
  text-transform: uppercase;
  color: $edit-style-color;
  font-family: $titles_text;
  font-weight: 900;
  font-size: 42px;
  margin-bottom: 30px;
}

.separating_element_block {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  width: 602px;
  img {
    width: 16px;
    height: 16px;
  }
}

hr {
  align-items: center;
  width: 147px;
  border: 1px solid $edit-style-color;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  margin-bottom: 20px;
  width: 846px;
}

.separation_block {
  border-right: 1px solid $edit-style-color;
  padding-left: 149px;
  height: 400px;
}

.angles_squares {
  position: relative;
}

.upper_left {
  @extend %frame_size;
  border-top: 1px solid $edit-style-color;
  border-left: 1px solid $edit-style-color;
}

.upper_right {
  @extend %frame_size;
  border-top: 1px solid $edit-style-color;
  border-right: 1px solid $edit-style-color;
}

.lower_right {
  @extend %frame_size;
  border-right: 1px solid $edit-style-color;
  border-bottom: 1px solid $edit-style-color;
}

.lower_left {
  @extend %frame_size;
  position: absolute;
  border-left: 1px solid $edit-style-color;
  border-bottom: 1px solid $edit-style-color;
}

img {
  width: 280px;
  height: 280px;
}

.introduce_block {
  display: flex;
  flex-direction: column;
  width: 291px;
  text-align: center;
  margin: 0 auto;
  line-height: 17px;
  padding-top: 55px;
}

h2 {
  font-family: $titles_text;
  color: $sub-text-color;
  font-size: 25px;
  margin-bottom: 20px;
}

.separating_element {
  border-top: 1px solid $edit-style-color;
  width: 69px;
  margin-left: 114px;
  margin-bottom: 25px;
}

h4 {
  font-weight: 100;
  font-size: 17px;
  margin-bottom: 20px;
}

.social_icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95px;
  margin: 0 auto;
  padding-bottom: 37px;
  img {
    height: 20px;
    width: 20px;
  }
}

.introduce_block p {
  font-size: 10px;
  margin-bottom: 8px;
}

.decor_element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35px;
  margin: 0 auto;
}

.decor_element_min {
  width: 7px;
  border: 1px solid $edit-style-color;
}

.decor_element_max {
  width: 14px;
  border: 1px solid $edit-style-color;
}

.introduce_block button{
  width: 83px;
  height: 18px;
  font-size: 10px;
  text-transform: uppercase;
  border: 1px solid $edit-style-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 17px;
  margin-left: 106px;
}