/*Normalize.css*/
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
* html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*VISIBLE PART*/
.block {
    width: 700px;
    padding: 108px 148px;
    box-sizing: border-box;
}
li {
    text-align: center;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: black; /*rgba(255, 255, 255, 1);*/
}


.first-screen {
    display: block;
    white-space: nowrap;
}

.first-screen ul>li:nth-last-of-type(3) {
    background-color: rgba(51, 153, 204, 1);
    width: 265px;
    padding: 30px 20px;
}

.first-screen ul>li:nth-child(2n) {
    background-color: rgba(51, 204, 204, 1);
    width: 131px;
    padding: 30px 20px;
}

.first-screen ul>li:last-child {
    background-color: rgba(153, 102, 153, 1);
    width: 131px;
    padding: 30px 20px;
}




.second-screen {
    display: block;
    white-space: nowrap;
}

.second-screen ul>li {
    padding: 30px 20px;
}

.second-screen ul>li {/*Все вместе*/
    background-color: rgba(226, 103, 74, 1);
    width: 132px;
}

.second-screen ul li:first-child {/*Венеция*/
    background-color: rgba(194, 71, 71, 1);
    width: 132px;

}

.second-screen li:nth-child(3) {/*Киев*/
    background-color: rgba(255, 204, 102, 1);
    width: 132px;
}

.second-screen ul>li:last-child {
    background-color: rgba(153, 204, 153, 1);
    width: 132px;
}



.third-screen {
    display: block;
    white-space: nowrap;
}

.third-screen ul>li:nth-last-of-type(3) {
    background-color: rgba(102, 153, 153, 1);
    width: 131px;
    padding: 30px 20px;
}

.third-screen ul>li:nth-child(2n) {
    background-color: rgba(204, 102, 153, 1);
    width: 265px;
    padding: 30px 20px;
}

.third-screen ul>li:last-child {
    background-color: rgba(51, 153, 102, 1);
    width: 131px;
    padding: 30px 20px;
}

.fourth-screen {
    display: block;

}

.fourth-screen ul>li {
    background-color: rgba(102, 102, 153, 1);
    width: 533px;
    padding: 30px 20px;
}


















