/*style drop css*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

a, button {
    transition: all .2s ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

/*VISIBLE PART*/
body {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
}
main {
    border: 15px solid rgba(43, 129, 172, 1);
    background-color: #3399CC;
    width: 100%;
    max-width: 832px;
}

.container {
    max-width: 540px;
    padding-bottom: 97px;
    padding-top: 90px;
}

.weather {
    background-color: #fff;
    font-size: 0;
    padding: 3px 3px 0 0;
}

.weather li {
    display: inline-block;
    width: 25%;
    padding: 0 0 3px 3px;
    text-align: center;
    transition: all .2s ease-in;
}

.city {
    padding-top: 19px;
    padding-bottom: 7px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 1);
    font-family: Roboto, sans-serif;
}

.temperature {
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
}

li.w50 {
     width: 50%;
 }

li.w100 {
     width: 100%;
 }

.weather li div {
    height: 100%;
    color: white;
}

.weather:hover li:not(:hover) {
     opacity: 0.7;
 }

/*Color classes*/
.strong-blue {
    background-color: rgba(51, 153, 204, 1);
}
.strong-cyan {
    background-color: rgba(51, 204, 204, 1);
}
.dark-magenta {
    background-color: rgba(153, 102, 153, 1);
}
.moderate-red {
    background-color: rgba(194, 71, 71, 1);
}
.soft-red {
    background-color: rgba(226, 103, 74, 1);
}
.light-orange {
    background-color: rgba(255, 204, 102, 1);
}
.lime-green {
    background-color: rgba(153, 204, 153, 1);
}
.dark-cyan {
    background-color: rgba(102, 153, 153, 1);
}
.moderate-pink {
    background-color: rgba(204, 102, 153, 1);
}
.cyan-green {
    background-color: rgba(51, 153, 102, 1);
}
.dark-blue {
    background-color: rgba(102, 102, 153, 1);
}













