$black: rgba(0, 0, 0, 1);
$brown-dark: rgba(53, 49, 45, 1);
$arrow-inactive: rgba(32, 32, 32, 1);
$tomato: rgba(198, 33, 0, 1);
$tomato-light: rgba(241, 106, 80, 1);
$brown-light: rgba(248, 241, 234, 1);
$dot-inactive: rgba(248, 241, 234, 0.7);
$dark-dot-inactive: rgba(202, 194, 186, 1);

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  background-color: $brown-light;
  font-size: 1rem;
  line-height: 1.5rem;
  color:$black;
}
.container{
  width: 100%;
  max-width: 1400px;
  margin:0 auto;
}
////////
.header{
  display: flex;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px;
  width: 100%;
}
.nav-logo {
  width: 182px;
  height: 40px;
}
.nav-menu {
  display: flex;
  font-size: 20px;
  width: 520px;
}
.nav-item {
  margin-left: 34px;
}
.nav-item a {
  display: block;
}
.nav-link {
  font-size: 19px;
  font-weight: 500;
}
.nav-link:hover{
  color: $tomato-light;
}
.nav {

}
.nav-icon {
  display: flex;
  gap: 30px;
}
.nav-icon img {
  max-height: 36px;
  max-width: 36px;
}
.hamburger {
  display: none;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: $black;
}

@media only screen and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-menu.active {
    left: 0;
  }
  .nav-item {
    margin: 2.5rem 0;
  }
  .nav-icon {
    margin-right: 30px;
  }
  .nav-logo img{
    width: 168px;
    height: 31px;
  }
  .nav-icon img {
    max-height: 27px;
    max-width: 27px;
  }
  .nav {
    display: flex;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
}
