$border-color: hsl(0,0%,89.8%);
$background-footer-color: hsl(244.3,52.5%,15.7%);
$hover-color:hsl(145.9,49.2%,47.1%);
$titles-color: hsl(208.8,22.3%,56.1%);
$content-text: Roboto, sans-serif;
$title-text: "Nunito Sans", sans-serif;
$base_fz: 16;/*формула автопервода из px в rem*/

@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
}

header {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  border-bottom: 1px solid $border-color;
  padding-bottom: 37px;
}

header img {
  margin-top: 38px;
}

main {
  width: 100%;
  max-width: 1155px;
  margin: 0 auto;
  padding-top: 54px;
}

h3 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 29px;
}

.content {
  display: flex;
  flex-direction: row;
}

.content_block {
  width: 360px;
  border: 1px solid $border-color;
  border-radius: 5px;
}

