@charset "UTF-8";
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #2B3040;
  font-family: Lato, sans-serif;
  color: #B7BACD;
  font-size: 14px;
}

.container {
  width: 1000px;
  height: 860px;
  margin: 85px auto;
  padding-top: 150px;
  background: rgb(43, 48, 64) url("../img/bg-image.png") no-repeat center;
  background-blend-mode: overlay;
}

.card {
  width: 600px;
  height: 552px;
  margin: 0 auto;
  background-color: rgb(33, 37, 52);
}

.tabs-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabs-nav li {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tabs-nav a {
  width: 100%;
  display: block;
  padding-top: 25px;
  padding-bottom: 20px;
  background: rgb(43, 48, 64);
  font-size: 16px;
  text-align: center;
  color: rgb(141, 145, 163);
  text-decoration: none;
}

.tabs-nav img {
  width: 25px;
  height: 25px;
  margin-bottom: 19px;
}

.tabs-nav a.active {
  background: rgb(43, 48, 64);
  color: rgb(255, 255, 255);
}

.tabs-items {
  padding: 60px 40px 60px 40px;
}

.tabs-item {
  display: flex;
}

.tabs-foto-stars {
  margin-right: 40px;
  margin-top: 27px;
}

.tabs-info-class {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 14px;
  margin-bottom: 35px;
}

.tabs-info-header {
  display: flex;
  margin-top: 8px;
}

.tabs-info-header-text {
  margin-right: 72px;
  margin-top: 17px;
}

.tabs-info-header-text h1 {
  font-size: 30px;
  margin-bottom: 15px;
}

.tabs-info-header-donut {
  margin-left: 10px;
}

.text {
  font-size: 13px;
  line-height: 22px;
  width: 285px;
  word-spacing: 3px;
  margin-bottom: 14px;
}

.prising {
  display: flex;
  align-items: center;
}

.prise {
  margin-top: 30px;
}

.prise-percent {
  color: rgb(255, 221, 63);
  font-size: 13px;
  margin-bottom: 10px;
}

.prise-numbers {
  font-size: 34px;
}

button {
  margin-top: 35px;
  margin-left: 45px;
  padding: 18px 37px;
  background-color: rgb(19, 226, 141);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  color: rgb(33, 37, 52);
  background-color: rgb(255, 255, 255);
  border: 0 solid rgb(255, 221, 63);
  cursor: pointer;
}

.rating-result {
  padding-top: 23px;
}

.rating-result span {
  font-size: 22px;
  margin: 0 4px;
  line-height: 1;
  color: lightgrey;
  text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
  content: "★";
}

.rating-result > span.active {
  color: gold;
  text-shadow: 1px 1px #c60;
}

.donut-size {
  font-size: 75px;
}

.pie-wrapper {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0 auto;
}

.pie {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
}

.half-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid rgb(19, 226, 141);
  border-radius: 50%;
  clip: rect(0em, 0.5em, 1em, 0em);
}

.right-side {
  transform: rotate(0deg);
}

.label {
  position: absolute;
  top: 0.52em;
  right: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  display: block;
  background: none;
  border-radius: 50%;
  color: rgb(141, 145, 163);
  font-size: 0.25em;
  line-height: 2.6em;
  text-align: center;
  cursor: default;
  z-index: 2;
}

.smaller {
  padding-bottom: 20px;
  color: #BDC3C7;
  font-size: 0.45em;
  vertical-align: super;
}

.shadow {
  width: 100%;
  height: 100%;
  border: 0.1em solid #BDC3C7;
  border-radius: 50%;
}

/*# sourceMappingURL=style.css.map */
