$color-elements:  #FFFFFF;
$color-title: #9C69E2;
$color-headings: #212353;
$color-content: #F063B8;
$content-text: 'Poppins', sans-serif;
$base_fz: 16;/*формула автоперехода из px в rem*/

@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

