@charset "UTF-8";
/*формула автоперехода из px в rem*/
.large {
  height: 60px;
  width: 210px;
  background: #FFFFFF;
  border-radius: 50px;
  color: #212353;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: -10px;
}

.footer_try_free .try_free_btn .small_rouse, .presentation .presentation_text .small {
  height: 60px;
  width: 170px;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5), 7px 7px 20px 0 rgba(0, 0, 0, 0.1), 4px 4px 5px 0 rgba(0, 0, 0, 0.1);
  outline: none;
}
.footer_try_free .try_free_btn .small_rouse:hover, .presentation .presentation_text .small:hover {
  color: #212353;
}

.footer_try_free .try_free_text h2, .testimonials_block h2, .features h2, .evidence .evidence_text h2 {
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #212353;
}

.security_code_block h3, .print_out_block h3, .hours_access_block h3, .search_data_block h3 {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: #212353;
  font-family: "Helvetica", sans-serif;
}

.security_code_block p, .print_out_block p, .hours_access_block p, .search_data_block p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.info_media h5, .info_link .info_link_help h5, .info_link .info_link_about h5, .security_code_block span, .print_out_block span, .hours_access_block span, .search_data_block span {
  font-size: 16px;
  line-height: 25px;
  font-weight: 800;
  color: #212353;
}

body {
  font-family: "Avenir", sans-serif;
  color: #4b5d68;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.6), -4px -4px 5px 0px rgba(255, 255, 255, 0.6), 7px 7px 20px 0px rgba(0, 0, 0, 0.1333333333), 4px 4px 5px 0px rgba(0, 0, 0, 0.0666666667);
  transition: all 0.3s ease;
  border-radius: 50px;
}

.btn:hover {
  background: #F063B8;
  color: #FFFFFF;
}

.btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn:active {
  top: 2px;
}

.icon-arrow {
  color: #9C69E2;
  font-size: 20px;
}

.header {
  position: sticky;
  z-index: 3;
  background: #FFFFFF;
  top: 0;
  height: 60px;
  padding: 61px 137px 10px 142px;
  margin: 0 auto;
}

.burger_menu {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-size: 27.5px;
  margin-left: 300px;
}

.menu {
  margin: 0 auto;
  border-radius: 50%;
  display: grid;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.75s;
  padding-left: 40px;
}
.menu:after {
  content: "☰";
  width: 50px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 12%;
  top: 45%;
  display: grid;
  place-items: center;
  background: #9C69E2;
  border-radius: inherit;
  font-size: 24px;
  transition: 0.75s;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}
.menu a {
  text-decoration: none;
}

.open_menu:after {
  content: "×";
  background: #F063B8;
}

.nav-item {
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #fde7f4;
  position: absolute;
  transition: 0.75s;
  left: 12%;
  top: 45%;
  transform: scale(0.1);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  animation: hue 10s linear infinite;
}
.nav-item:hover {
  background: #F063B8;
  color: #212353;
  cursor: pointer;
}

.open_menu .nav-item {
  transform: scale(1) rotate(360deg);
}

.open_menu .nav-item:hover {
  transform: scale(1.25) rotate(360deg);
}

.open_menu .nav-item:nth-child(1) {
  top: 45%;
  left: 35%;
}

.open_menu .nav-item:nth-child(2) {
  top: 45%;
  left: 50%;
}

.open_menu .nav-item:nth-child(3) {
  top: 45%;
  left: 65%;
}

.open_menu .nav-item:nth-child(4) {
  top: 45%;
  left: 80%;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.flex .header_left_block {
  display: flex;
  justify-content: space-between;
}
.flex .header_left_block .header_list {
  display: flex;
  flex-direction: row;
  padding-left: 120px;
  padding-top: 5px;
}
.flex .header_left_block .header_list .header_link {
  margin-right: 50px;
  color: #4b5d68;
}
.flex .header_left_block .header_list .header_link a:hover {
  text-shadow: 2px 2px 2px #9C69E2;
  color: #9C69E2;
  font-weight: 400;
  cursor: pointer;
}
.flex .header_left_block .active {
  color: #212353;
}

.header_right_block {
  display: flex;
  flex-direction: row;
}
.header_right_block .icon-arrow {
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) {
  .header_desktop {
    display: block;
  }

  .burger_menu {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header_desktop {
    display: none;
  }

  .burger_menu {
    display: block;
  }
}
.presentation {
  display: flex;
  margin-bottom: 196px;
  margin-top: 112px;
  position: relative;
  margin-left: 65px;
}
.presentation .presentation_text {
  display: flex;
  flex-direction: column;
  max-width: 570px;
}
.presentation .presentation_text h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 80px;
  line-height: 88px;
  color: #212353;
  padding-bottom: 51px;
}
.presentation .presentation_text p {
  font-size: 18px;
  padding-bottom: 57px;
  max-width: 380px;
  line-height: 30px;
}
.presentation .presentation_text .small {
  background: #9C69E2;
}
.presentation .presentation_image {
  position: absolute;
  top: 92px;
  left: 362px;
}

@media only screen and (max-width: 1380px) {
  .presentation_image img {
    position: relative;
    padding-top: 50px;
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}
@media only screen and (max-width: 1080px) {
  .presentation_image img {
    position: relative;
    padding-top: 110px;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}
@media only screen and (max-width: 968px) {
  .presentation_image img {
    position: relative;
    padding-top: 170px;
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 900px) {
  .presentation_image img {
    display: none;
  }

  .presentation_text {
    width: 100%;
    margin: 0 auto;
  }
  .presentation_text h1, .presentation_text p, .presentation_text button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}
.evidence {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  margin: 0 auto;
  padding-bottom: 16px;
  background: #fde7f4;
  border-radius: 50px;
  max-width: 1117px;
}
.evidence .evidence_image {
  padding-top: 32px;
}
.evidence .evidence_text {
  padding-top: 121px;
}
.evidence .evidence_text p {
  font-size: 18px;
  line-height: 29px;
  padding-top: 39px;
  max-width: 474px;
}

.features {
  padding-top: 149px;
  margin: 3px;
}
.features h2 {
  text-align: center;
}
.features p {
  font-size: 18px;
  line-height: 29px;
  padding-top: 50px;
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}

.features_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: end;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.search_data_block {
  background-image: url(../images/background1.svg);
  background-repeat: no-repeat;
}
.search_data_block .search_data_content {
  display: flex;
  flex-direction: column;
}
.search_data_block img {
  position: absolute;
  top: 100px;
  left: 45px;
}

.hours_access_block {
  background-image: url(../images/background2.svg);
  background-repeat: no-repeat;
}
.hours_access_block img {
  position: absolute;
  top: 100px;
  left: 670px;
}

.print_out_block {
  background-image: url(../images/background3.svg);
  background-repeat: no-repeat;
}
.security_code_block {
  background-image: url(../images/background4.svg);
  background-repeat: no-repeat;
}
.testimonials_block {
  background: #9C69E2;
  border-radius: 52px;
  max-width: 1118px;
  margin: 0 auto;
  padding-bottom: 131px;
}
.testimonials_block h2 {
  color: #FFFFFF;
  padding: 106px 0 85px 95px;
}
.testimonials_block .testimonials_card {
  display: flex;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 55px 0;
  width: 58%;
  margin: 0 auto;
  box-shadow: 0 12px 3px -3px #8955da;
}
.testimonials_block .testimonials_card .testimonials_card_avatar {
  padding-right: 28px;
  padding-left: 11%;
  padding-top: 6px;
}
.testimonials_block .testimonials_card .testimonials_card_content h4 {
  padding-top: 26px;
  color: #212353;
  font-weight: 800;
  font-size: 18px;
  line-height: 29px;
}
.testimonials_block .testimonials_card .testimonials_card_content a {
  color: #9C69E2;
}
.testimonials_block .testimonials_card .testimonials_card_content p {
  padding-top: 20px;
  max-width: 382px;
  font-size: 18px;
  line-height: 32px;
}

@media only screen and (max-width: 968px) {
  .testimonials_card {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  /*как сдвинуть заголовок в середину?*/
  .testimonials_card_avatar {
    display: none;
  }

  .testimonials_card_content {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
  }
}
.footer {
  margin-top: 151px;
  border-top: 1px solid rgba(156, 105, 226, 0.2);
  padding-top: 100px;
}

.footer_try_free {
  display: flex;
  justify-content: space-between;
  padding: 0 67px;
  margin-bottom: 150px;
}
.footer_try_free .try_free_text h2 {
  padding-bottom: 20px;
}
.footer_try_free .try_free_text p {
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
}
.footer_try_free .try_free_btn {
  padding-top: 20px;
}
.footer_try_free .try_free_btn .small_rouse {
  background: #F063B8;
  margin-right: 23px;
}
.footer_try_free .try_free_btn .large:hover {
  background: #9C69E2;
}
.footer_try_free .try_free_btn .large:hover .icon-arrow {
  color: #FFFFFF;
}

@media only screen and (max-width: 968px) {
  .footer_try_free {
    display: flex;
    flex-direction: column;
    margin: 10% 10%;
  }
  .footer_try_free .try_free_text {
    text-align: center;
  }
  .footer_try_free .try_free_btn {
    display: flex;
    align-items: center;
    padding: 10% 10%;
    margin: 0 auto;
  }
}
.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 0 67px;
  margin-bottom: 95px;
}

.info_content {
  display: flex;
  flex-direction: column;
}
.info_content p {
  padding-bottom: 4px;
}
.info_content .logo_footer {
  display: flex;
  padding-bottom: 67px;
}
.info_content .logo_footer .title_footer {
  font-size: 20px;
  font-weight: 800;
  line-height: 32px;
  color: #212353;
  padding-left: 20px;
  padding-top: 5px;
}
.info_content .logo_text {
  margin-bottom: 20px;
}

.info_link {
  display: flex;
  padding-top: 13px;
  padding-left: 100px;
}
.info_link .info_link_about {
  padding-right: 147px;
}
.info_link .info_link_about h5 {
  margin-bottom: 41px;
}
.info_link .info_link_about li {
  padding-bottom: 16px;
}
.info_link .info_link_about li:last-child {
  padding-bottom: 0;
}
.info_link .info_link_about li a:hover {
  text-shadow: 2px 2px 2px #9C69E2;
  color: #9C69E2;
  font-weight: 400;
  cursor: pointer;
}
.info_link .info_link_help h5 {
  margin-bottom: 41px;
}
.info_link .info_link_help li {
  padding-bottom: 16px;
}
.info_link .info_link_help li:last-child {
  padding-bottom: 0;
}
.info_link .info_link_help li a:hover {
  text-shadow: 2px 2px 2px #9C69E2;
  color: #9C69E2;
  font-weight: 400;
  cursor: pointer;
}

.info_media {
  padding-top: 11px;
  padding-left: 161px;
}
.info_media .info_media_block {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}
.info_media .info_media_block li {
  padding-right: 12px;
}
.info_media .info_media_block li a:hover {
  text-decoration: none;
}
.info_media .info_media_block li .icon {
  color: #FFFFFF;
  border: 1px solid #e9e9ee;
  background: #e9e9ee;
  border-radius: 50%;
  padding: 17px;
  transition: all 0.4s ease;
}
.info_media .info_media_block li .icon:hover {
  background: #9C69E2;
  cursor: pointer;
}

.registration p {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  margin-left: 66px;
}

/*# sourceMappingURL=style.css.map */
