$color-content: #4b5d68;
$heart-color: red;
$color-content: rgba(0, 0, 0, .7);

body {
  color: $color-content;
  background-color: $color-content;
}
.container {
  //max-width: 1250px;
 // width: 90%;
  //margin: 0 auto;
  //background-color: $color-content;
}

.modal_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $color-content;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:100;
}

.modal_overlay .my_modal {
  border-radius: 8px;
  background-color: #fff;
  padding: 20px;
  width: 90%;
  max-width: 600px;
  position:relative;
}

.favourite, .my_btn {
  position: absolute;
  right:20px;
}

.my_btn {
  top:20px;
}

.none {
  display:none;
}

.block {
  display:block;
}

.my_card {
  position:relative;
}

.favourite {
  bottom: 20px;
  height: 40px;
  width:40px;
}

.favourite .active svg {
  fill:$heart-color;
}

svg {
  width: 100%;
  height: 100%;
}

p {
  color: #fff;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid $color-content;
  border-radius: 0.45rem;
}



