$button-color: hsl(211.1,100%,50%);
$background-container: hsl(0,0%,96.9%);
$background-first_form: hsl(0,100%,99.8%);
$text-color: hsl(0,0%,32.9%);
$paragraph-color: hsl(0,0%,58.8%);
$title-color: hsl(0,0%,0%);
$border-color: hsl(0,0%,89.4%);
$font-stack: 'Inter', sans-serif;
$base_fz: 16;/*формула автопервода из px в rem*/

@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: $background-container;
  font-family: $font-stack;
  font-weight: 400;
}

.first_form, .second_form{
  max-width: 540px;
  width: 100%;
  max-height: 590px;
  height: 100%;
  background-color: $background-first_form;
  padding: 10px;
  border-radius: 5px;
  margin: 30px;
  font-size: 15px;
  color: $text-color;
}

.first_form h1 {
  font-size: 24px;
  font-weight: 700;
  word-spacing: -3px;
  padding-top: 14px;
  padding-left: 9px;
  margin-bottom: 22px;
  color: $title-color;
}

.block_fields {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 502px;
  width: 100%;
}

.field_input {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
  height: 67px;
  justify-content: space-between;
}

.field_input input {
  width: 245px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.field_input input:hover {
  border: 1px solid $button-color;
}

.field_select {
  width: 245px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98px;
  margin-top: 19px;
  margin-left: 10px;
  margin-bottom: 13px;
}

.email input {
  width: 500px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid $border-color;
}

.email input:hover {
  border: 1px solid $button-color;
}

.email p {
  color: $paragraph-color;
}

.disabled_selected {/*как отступить текстом от начала поля?*/
  color: $paragraph-color;
}

.radio {
  margin-bottom: 20px;
  margin-left: 12px;
}

.retreat {
  margin-bottom: 20px;
}

.second_retreat {
  padding-bottom: 20px;

}
button {
  width: 500px;
  height: 38px;
  border-radius: 5px;
  background-color: $button-color;
  text-align: center;
  font-size: 16px;
  color: $background-first_form;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.additions_block {
  text-align: center;
  margin: 0 60px;
  line-height: 21px;
}

.additions_block {
  color: $paragraph-color;
}

.additions {
  font-size: 13px;
}

.additions_block a {
  color: $button-color;
}

footer {
  border-top: 1px solid $border-color;
  margin-top: 17px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

footer a {
  color: $button-color;
}

/*second_form*/
.wrap {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.second_form h1 {
  font-size: 24px;
  font-weight: 500;
  color: $title-color;
  margin-top: 16px;
  margin-bottom: 23px;
}

.block_change_photo {
  margin-bottom: 12px;
}

.block_fields {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  max-width: 502px;
  width: 100%;
}

.btn_second_form {
  width: 150px;
  height: 38px;
  border-radius: 5px;
  background-color: $button-color;
  text-align: center;
  font-size: 16px;
  color: $background-first_form;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 22px;
}