@media screen and (max-width: 1360px) {
  .hero-section {
    margin-bottom: 120px;
  }
  .hero-section .hero-section-avatar {
    position: relative;
    margin-top: 95px;
  }
  .hero-section .hero-section-avatar img {
    width: 525px;
    height: 590px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(1) {
    top: 20%;
    right: 83%;
    max-width: 70px;
    max-height: 70px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(2) {
    top: 6%;
    right: 17%;
    max-width: 70px;
    max-height: 70px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(3) {
    top: 84%;
    right: 2%;
  }
  .hero-section .hero-section-description {
    padding: 94px 0 0 0;
    max-width: 506px;
  }
  .hero-section .hero-section-description .hero-section-description-info h1 {
    width: 450px;
    font-size: 35px;
    margin-bottom: 24px;
  }
  .hero-section .hero-section-description .hero-section-description-info p {
    font-size: 15px;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar {
    width: 423px;
    height: 60px;
    margin-left: 8px;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container .search-icon {
    position: absolute;
    float: right;
    width: 24px;
    height: auto;
    top: 36%;
    right: 9%;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions {
    display: flex;
    justify-content: space-evenly;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions p {
    display: none;
    margin-right: 10px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block1 {
    display: flex;
    flex-direction: column;
    height: 210px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block2 {
    display: flex;
    flex-direction: column;
    height: 210px;
  }
  .featured {
    margin: 0 39px 169px 68px;
  }
  .featured .featured-block .featured-icon img {
    margin-right: 20px;
  }
  .featured .featured-block .featured-icon h4 {
    font-size: 20px;
  }
  .featured .featured-block .featured-text p {
    margin-left: -19px;
    max-width: 211px;
    font-size: 13px;
    line-height: 22px;
  }
  .classes .classes-header h2 {
    margin-left: 30px;
    font-size: 25px;
  }
  .classes .classes-header p {
    font-size: 16px;
    margin-bottom: 75px;
  }
  .classes .classes-card {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .classes .classes-card .classes-card-item {
    padding: 20px;
    margin: 40px;
  }
  .classes .classes-card .classes-card-item img {
    margin-left: -10px;
  }
  .classes .classes-card .classes-card-item .classes-card-item-count {
    top: 139px;
    left: 20px;
  }
  .webinar .webinar-header {
    width: 300px;
    margin-bottom: 150px;
  }
  .webinar .webinar-header h2 {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-header p {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-block {
    flex-wrap: wrap;
  }
  .webinar .webinar-block .webinar-block-video1 {
    width: 34%;
  }
  .webinar .webinar-block .webinar-block-video2 {
    position: absolute;
    top: -34%;
    left: 26%;
    width: 50%;
  }
  .webinar .webinar-block .webinar-block-video3 {
    width: 34%;
  }
  .pricing .pricing-header h2 {
    font-size: 25px;
    width: 200px;
  }
  .pricing .pricing-header p {
    font-size: 16px;
  }
  .pricing .pricing-block {
    flex-wrap: wrap;
    padding-left: 68px;
    padding-right: 68px;
  }
  .pricing .pricing-block .pricing-block-item {
    padding: 62px;
    margin: 0 auto 30px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-exception img {
    width: 103px;
    top: -64px;
    left: 262px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-stick img {
    height: 36px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs {
    flex-direction: column;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-name {
    font-size: 16px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price .price {
    font-size: 25px;
  }
  .pricing .pricing-block .pricing-block-item .sub-btn button {
    height: 50px;
  }
  .apps {
    flex-wrap: wrap;
  }
  .apps .apps-info {
    margin: 0 auto 140px;
    width: 300px;
  }
  .apps .apps-info h3 {
    margin: 0 auto 12px;
    font-size: 25px;
    text-align: center;
  }
  .apps .apps-info p {
    font-size: 16px;
    margin: 0 auto 40px;
    text-align: center;
  }
  .apps .apps-info .apps-info-brands {
    width: 400px;
    margin: 0 auto;
  }
  .apps .apps-info .apps-info-brands .apps-info-brands-google img {
    width: 164px;
    height: auto;
  }
  .apps .apps-info .apps-info-brands .apps-info-brands-apple img {
    width: 147px;
    height: auto;
  }
  .apps .apps-visual .apps-visual-card {
    width: 327px;
    margin-top: -29px;
    margin-left: 220px;
  }
  .apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-icon {
    width: 100px;
  }
  .apps .apps-visual .apps-visual-ref {
    top: 243px;
    left: 120px;
    display: flex;
  }
  .apps .apps-visual .apps-visual-avatar1 {
    top: 53px;
    left: 148px;
  }
  .apps .apps-visual .apps-visual-avatar2 {
    top: 158px;
    left: 169px;
  }
  .apps .apps-visual .apps-visual-avatar3 {
    top: 154px;
    left: 527px;
  }
  .footer a {
    font-size: 15px;
  }
  .footer .retreat {
    margin-bottom: 25px;
  }
  .footer .footer-links .footer-menu {
    width: 116px;
  }
  .footer .footer-links .footer-services {
    width: 162px;
  }
  .footer .footer-links .footer-info {
    width: 192px;
  }
  .footer .footer-links .footer-apps {
    width: 169px;
  }
}
@media screen and (max-width: 1220px) {
  .webinar .webinar-header {
    width: 300px;
    margin-bottom: 150px;
  }
  .webinar .webinar-header h2 {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-header p {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-block {
    flex-wrap: wrap;
  }
  .webinar .webinar-block .webinar-block-video1 {
    width: 34%;
  }
  .webinar .webinar-block .webinar-block-video2 {
    position: absolute;
    top: -34%;
    left: 27%;
    width: 49%;
  }
  .webinar .webinar-block .webinar-block-video3 {
    width: 34%;
  }
}
@media screen and (max-width: 1090px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }
  .hero-section .hero-section-avatar {
    position: relative;
    margin: 0 auto 0;
  }
  .hero-section .hero-section-avatar .avatar-max {
    display: none;
  }
  .hero-section .hero-section-avatar .avatar-mini {
    display: block;
  }
  .hero-section .hero-section-avatar img {
    width: 525px;
    height: 590px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(1) {
    position: absolute;
    top: 35%;
    right: 88%;
    max-width: 90px;
    max-height: 90px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(2) {
    position: absolute;
    top: 23%;
    right: -9%;
    max-width: 90px;
    max-height: 90px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(3) {
    position: absolute;
    top: 84%;
    right: 2%;
  }
  .hero-section .hero-section-description {
    max-width: 506px;
    margin: -60px auto;
  }
  .hero-section .hero-section-description .hero-section-description-info h1 {
    width: 450px;
    font-size: 35px;
    margin-bottom: 24px;
    text-align: center;
  }
  .hero-section .hero-section-description .hero-section-description-info p {
    font-size: 15px;
    text-align: center;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar {
    width: 423px;
    height: 60px;
    margin-left: 8px;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container .search-icon {
    top: 36%;
    right: 9%;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions {
    display: flex;
    justify-content: space-evenly;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions p {
    display: none;
    margin-right: 10px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block1 {
    display: flex;
    flex-direction: column;
    height: 210px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block2 {
    display: flex;
    flex-direction: column;
    height: 210px;
  }
  .webinar .webinar-header {
    width: 300px;
    margin-bottom: 150px;
  }
  .webinar .webinar-header h2 {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-header p {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-block {
    flex-wrap: wrap;
  }
  .webinar .webinar-block .webinar-block-video1 {
    width: 34%;
  }
  .webinar .webinar-block .webinar-block-video2 {
    position: absolute;
    top: -34%;
    left: 26%;
    width: 46%;
  }
  .webinar .webinar-block .webinar-block-video3 {
    width: 34%;
  }
}
@media screen and (max-width: 990px) {
  .webinar .webinar-header {
    width: 300px;
    margin-bottom: 150px;
  }
  .webinar .webinar-header h2 {
    font-size: 25px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-header p {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
  }
  .webinar .webinar-block {
    flex-wrap: wrap;
  }
  .webinar .webinar-block .webinar-block-video1 {
    width: 34%;
  }
  .webinar .webinar-block .webinar-block-video2 {
    position: absolute;
    top: -34%;
    left: 27%;
    width: 46%;
  }
  .webinar .webinar-block .webinar-block-video3 {
    width: 34%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
  }
  .footer a {
    font-size: 13px;
  }
  .footer .retreat {
    margin-bottom: 25px;
  }
  .footer .footer-links .footer-social .footer-social-question {
    width: 200px;
  }
  .footer .footer-links .footer-social .footer-social-question p {
    font-size: 13px;
  }
  .footer .footer-links .footer-menu {
    width: 95px;
  }
  .footer .footer-links .footer-services {
    width: 150px;
  }
  .footer .footer-links .footer-info {
    width: 160px;
  }
  .footer .footer-links .footer-apps {
    width: 140px;
  }
}
@media screen and (max-width: 768px) {
  .wrap-container {
    width: 100%;
    margin: 0 auto;
  }
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }
  .hero-section .hero-section-avatar {
    position: relative;
    margin: 0 auto 0;
  }
  .hero-section .hero-section-avatar .avatar-max {
    display: none;
  }
  .hero-section .hero-section-avatar .avatar-mini {
    display: block;
    width: 460px;
    height: auto;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(1) {
    position: absolute;
    top: 37%;
    right: 83%;
    max-width: 60px;
    max-height: 60px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(2) {
    position: absolute;
    top: 25%;
    right: 0;
    max-width: 60px;
    max-height: 60px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(3) {
    position: absolute;
    top: 84%;
    right: 2%;
    width: 40%;
    height: auto;
  }
  .hero-section .hero-section-description {
    max-width: 506px;
    margin: -60px auto;
  }
  .hero-section .hero-section-description .hero-section-description-info h1 {
    width: 450px;
    font-size: 35px;
    margin-bottom: 24px;
    text-align: center;
  }
  .hero-section .hero-section-description .hero-section-description-info p {
    font-size: 15px;
    text-align: center;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar {
    width: 423px;
    height: 60px;
    margin-left: 8px;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container .search-icon {
    top: 36%;
    right: 9%;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions {
    display: flex;
    justify-content: space-evenly;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions p {
    display: none;
    margin-right: 10px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block1 {
    display: flex;
    flex-direction: column;
    height: 210px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block2 {
    display: flex;
    flex-direction: column;
    height: 210px;
  }
  .featured {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 120px;
    width: 400px;
  }
  .featured .featured-block .featured-icon {
    margin: 60px auto -10px;
  }
  .featured .featured-block .featured-icon img {
    margin-right: 20px;
    margin-left: 80px;
  }
  .featured .featured-block .featured-icon h4 {
    font-size: 20px;
  }
  .featured .featured-block .featured-text p {
    margin-left: -19px;
    max-width: 400px;
    font-size: 13px;
    line-height: 22px;
  }
  .classes .classes-header h2 {
    margin-left: 30px;
    font-size: 25px;
    text-align: center;
  }
  .classes .classes-header p {
    font-size: 16px;
    margin-bottom: 75px;
    text-align: center;
  }
  .classes .classes-card {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .classes .classes-card .classes-card-item {
    padding: 20px;
    margin: 40px;
  }
  .classes .classes-card .classes-card-item img {
    margin-left: -10px;
  }
  .classes .classes-card .classes-card-item .classes-card-item-count {
    top: 139px;
    left: 20px;
  }
  .webinar .webinar-header {
    margin-bottom: 150px;
  }
  .webinar .webinar-header p {
    font-size: 16px;
    text-align: center;
    width: 325px;
    margin: 10px auto 60px;
  }
  .webinar .webinar-block {
    flex-wrap: wrap;
  }
  .webinar .webinar-block .webinar-block-video1 {
    width: 34%;
  }
  .webinar .webinar-block .webinar-block-video2 {
    position: absolute;
    top: -34%;
    left: 27%;
    width: 45%;
  }
  .webinar .webinar-block .webinar-block-video3 {
    width: 34%;
  }
  .webinar .webinar-reference a {
    font-size: 11px;
  }
  .webinar .webinar-reference img {
    width: 22px;
    height: 27px;
    padding-top: 4px;
  }
  .pricing .pricing-header h2 {
    font-size: 25px;
    width: 200px;
  }
  .pricing .pricing-header p {
    font-size: 16px;
  }
  .pricing .pricing-block {
    flex-wrap: wrap;
    padding-left: 68px;
    padding-right: 68px;
  }
  .pricing .pricing-block .pricing-block-item {
    padding: 30px;
    margin: 0 auto 30px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-exception img {
    width: 92px;
    top: -32px;
    left: 170px;
    height: 85px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-stick img {
    height: 36px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs {
    flex-direction: column;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-name {
    font-size: 16px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price .price {
    font-size: 25px;
  }
  .pricing .pricing-block .pricing-block-item .sub-btn {
    margin: 55px 20px 0 18px;
  }
  .pricing .pricing-block .pricing-block-item .sub-btn button {
    height: 50px;
    width: 190px;
  }
  .apps {
    flex-wrap: wrap;
  }
  .apps .apps-info {
    margin: 0 auto 140px;
  }
  .apps .apps-info h3 {
    width: 250px;
    margin: 0 auto 12px;
    font-size: 25px;
  }
  .apps .apps-info p {
    font-size: 16px;
    margin: 0 auto 40px;
  }
  .apps .apps-info .apps-info-brands {
    width: 400px;
    margin: 0 auto;
  }
  .apps .apps-visual .apps-visual-card {
    width: 327px;
    margin-top: -29px;
    margin-left: 90px;
  }
  .apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-icon {
    width: 100px;
  }
  .apps .apps-visual .apps-visual-ref {
    top: 243px;
    left: 40px;
  }
  .apps .apps-visual .apps-visual-avatar1 {
    top: 40px;
    left: 20px;
  }
  .apps .apps-visual .apps-visual-avatar2 {
    top: 165px;
    left: 40px;
  }
  .apps .apps-visual .apps-visual-avatar3 {
    top: 173px;
    left: 395px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
  }
  .footer a {
    font-size: 13px;
  }
  .footer .retreat {
    margin-bottom: 25px;
  }
  .footer li {
    margin: 5px;
  }
  .footer .footer-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 300px;
  }
  .footer .footer-links .footer-social {
    margin: 0 auto 50px;
    padding-left: 70px;
    width: 300px;
  }
  .footer .footer-links .footer-social .footer-social-logo {
    padding-left: 30px;
  }
  .footer .footer-links .footer-social .footer-social-question {
    width: 200px;
  }
  .footer .footer-links .footer-social .footer-social-question p {
    font-size: 13px;
  }
  .footer .footer-links .footer-social .footer-social-links-ul {
    padding-left: 30px;
  }
  .footer .footer-links .footer-menu {
    margin: 0 auto 50px;
    text-align: center;
  }
  .footer .footer-links .footer-services {
    margin: 0 auto 50px;
    text-align: center;
  }
  .footer .footer-links .footer-info {
    margin: 0 auto 50px;
    text-align: center;
  }
  .footer .footer-links .footer-apps {
    margin: 0 auto 50px;
    text-align: center;
  }
  .footer .footer-copyright .footer-copyright-text {
    font-size: 13px;
  }
}
@media screen and (max-width: 600px) {
  .webinar .webinar-header {
    margin-bottom: 150px;
  }
  .webinar .webinar-header h2 {
    width: 300px;
  }
  .webinar .webinar-header p {
    font-size: 16px;
    text-align: center;
    width: 300px;
    margin: 10px auto 60px;
  }
  .webinar .webinar-block {
    flex-wrap: wrap;
  }
  .webinar .webinar-block .webinar-block-video1 {
    width: 34%;
  }
  .webinar .webinar-block .webinar-block-video2 {
    position: absolute;
    top: -34%;
    left: 27%;
    width: 45%;
  }
  .webinar .webinar-block .webinar-block-video3 {
    width: 34%;
  }
  .webinar .webinar-reference a {
    font-size: 11px;
  }
  .webinar .webinar-reference img {
    width: 22px;
    height: 27px;
    padding-top: 4px;
  }
  .apps {
    flex-wrap: wrap;
  }
  .apps .apps-info h3 {
    margin: 0 auto 12px;
    font-size: 25px;
    width: 300px;
  }
  .apps .apps-info p {
    font-size: 16px;
    margin: 0 auto 40px;
    width: 300px;
  }
  .apps .apps-info .apps-info-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
  }
  .apps .apps-visual .apps-visual-card {
    width: 280px;
    margin-top: 0;
    margin-left: 45px;
  }
  .apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-icon {
    width: 100px;
  }
  .apps .apps-visual .apps-visual-ref {
    top: 282px;
    left: -19px;
  }
  .apps .apps-visual .apps-visual-avatar1 {
    top: 64px;
    left: -21px;
  }
  .apps .apps-visual .apps-visual-avatar2 {
    top: 194px;
    left: -5px;
  }
  .apps .apps-visual .apps-visual-avatar3 {
    top: 209px;
    left: 306px;
  }
}
@media screen and (max-width: 500px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }
  .hero-section .hero-section-avatar {
    position: relative;
    margin: 0 auto 0;
  }
  .hero-section .hero-section-avatar .avatar-max {
    display: none;
  }
  .hero-section .hero-section-avatar .avatar-mini {
    width: 425px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(1) {
    position: absolute;
    top: 35%;
    right: 77%;
    max-width: 50px;
    max-height: 50px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(2) {
    position: absolute;
    top: 24%;
    right: 5%;
    max-width: 50px;
    max-height: 50px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(3) {
    position: absolute;
    top: 84%;
    right: 2%;
    width: 40%;
    height: auto;
  }
  .hero-section .hero-section-description {
    max-width: 506px;
    margin: -60px auto;
  }
  .hero-section .hero-section-description .hero-section-description-info h1 {
    width: 360px;
    font-size: 28px;
    margin: 0 auto 20px;
  }
  .hero-section .hero-section-description .hero-section-description-info p {
    font-size: 13px;
    text-align: center;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container {
    margin: -10px auto 30px;
    width: 360px;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar {
    width: 360px;
    height: 60px;
    margin: 0 auto;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container .search-icon {
    top: 36%;
    right: 9%;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions p {
    display: none;
    margin-right: 10px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block1 {
    display: flex;
    flex-direction: column;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .pricing .pricing-header h2 {
    font-size: 25px;
    width: 200px;
  }
  .pricing .pricing-header p {
    font-size: 16px;
  }
  .pricing .pricing-block {
    flex-wrap: wrap;
    padding-left: 68px;
    padding-right: 68px;
  }
  .pricing .pricing-block .pricing-block-item {
    padding: 20px;
    margin: 0 auto 30px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-exception img {
    width: 81px;
    top: -22px;
    left: 171px;
    height: 75px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-stick img {
    height: 36px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs {
    flex-direction: column;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-name {
    font-size: 16px;
  }
  .pricing .pricing-block .pricing-block-item .pricing-block-item-header .pricing-block-item-header-tariffs .pricing-block-item-header-tariffs-price .price {
    font-size: 25px;
  }
  .apps {
    flex-wrap: wrap;
  }
  .apps .apps-info h3 {
    margin: 0 auto 12px;
    font-size: 25px;
    width: 300px;
  }
  .apps .apps-info p {
    font-size: 16px;
    margin: 0 auto 40px;
    width: 300px;
  }
  .apps .apps-info .apps-info-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
  }
  .apps .apps-visual .apps-visual-card {
    width: 280px;
    margin-top: 0;
    margin-left: 45px;
  }
  .apps .apps-visual .apps-visual-card .apps-visual-card-body .apps-visual-card-body-icon {
    width: 100px;
  }
  .apps .apps-visual .apps-visual-ref {
    top: 282px;
    left: -19px;
  }
  .apps .apps-visual .apps-visual-avatar1 {
    top: 64px;
    left: -21px;
  }
  .apps .apps-visual .apps-visual-avatar2 {
    top: 194px;
    left: -5px;
  }
  .apps .apps-visual .apps-visual-avatar3 {
    top: 209px;
    left: 306px;
  }
}
@media screen and (max-width: 320px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }
  .hero-section .hero-section-avatar {
    position: relative;
    margin: 0 auto 0;
  }
  .hero-section .hero-section-avatar .avatar-max {
    display: none;
  }
  .hero-section .hero-section-avatar .avatar-mini {
    width: 425px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(1) {
    position: absolute;
    top: 35%;
    right: 77%;
    max-width: 50px;
    max-height: 50px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(2) {
    position: absolute;
    top: 24%;
    right: 5%;
    max-width: 50px;
    max-height: 50px;
  }
  .hero-section .hero-section-avatar .hero-section-avatar-position img:nth-child(3) {
    position: absolute;
    top: 84%;
    right: 2%;
    width: 40%;
    height: auto;
  }
  .hero-section .hero-section-description {
    max-width: 506px;
    margin: -60px auto;
  }
  .hero-section .hero-section-description .hero-section-description-info h1 {
    width: 360px;
    font-size: 28px;
    margin: 0 auto 20px;
  }
  .hero-section .hero-section-description .hero-section-description-info p {
    font-size: 13px;
    text-align: center;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container {
    margin: -10px auto 30px;
    width: 360px;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container input#search-bar {
    width: 360px;
    height: 60px;
    margin: 0 auto;
  }
  .hero-section .hero-section-description .hero-section-description-info .search-container .search-icon {
    top: 36%;
    right: 5%;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions p {
    display: none;
    margin-right: 10px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions button {
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block1 {
    display: flex;
    flex-direction: column;
  }
  .hero-section .hero-section-description .hero-section-description-suggestions .hero-section-description-suggestions-block2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

/*# sourceMappingURL=responsive.css.map */
