@media screen and (max-width: 1360px) {//сделала
  .hero-section {
    margin-bottom: 120px;
    .hero-section-avatar {
      position: relative;
      margin-top: 95px;
      img {
        width: 525px;
        height: 590px;
      }
      .hero-section-avatar-position {
        img:nth-child(1){
          top: 20%;
          right: 83%;
          max-width: 70px;
          max-height: 70px;
        }
        img:nth-child(2){
          top: 6%;
          right: 17%;
          max-width: 70px;
          max-height: 70px;
        }
        img:nth-child(3){
          top: 84%;
          right: 2%;
        }
      }
    }
    .hero-section-description {
      padding: 94px 0 0 0;
      max-width: 506px;
      .hero-section-description-info {
        h1 {
          width: 450px;
          font-size: 35px;
          margin-bottom: 24px;
        }
        p {
          font-size: 15px;
        }
        .search-container {
          input#search-bar{
            width: 423px;
            height: 60px;
            margin-left: 8px;
          }
          .search-icon{
            position: absolute;
            float: right;
            width: 24px;
            height: auto;
            top: 36%;
            right: 9%;
          }
        }
      }
      .hero-section-description-suggestions {
        display: flex;
        justify-content: space-evenly;
        p {
          display: none;
          margin-right: 10px;
        }
        button {
          width: 200px;
          height: 50px;
          margin-bottom: 20px;
        }
        .hero-section-description-suggestions-block1 {
          display: flex;
          flex-direction: column;
          height: 210px;
        }
        .hero-section-description-suggestions-block2 {
          display: flex;
          flex-direction: column;
          height: 210px;
        }
      }
    }
  }
  .featured {
    margin: 0 39px 169px 68px;
    .featured-block {
      .featured-icon {
        img {
          margin-right: 20px;
        }
        h4 {
          font-size: 20px;
        }
      }
      .featured-text {
        p {
          margin-left: -19px;
          max-width: 211px;
          font-size: 13px;
          line-height: 22px;
        }
      }
    }
  }
  .classes {
    .classes-header {
      h2 {
        margin-left: 30px;
        font-size: 25px;
      }
      p {
        font-size: 16px;
        margin-bottom: 75px;
      }
    }
    .classes-card {
      justify-content: space-evenly;
      flex-wrap: wrap;
      .classes-card-item {
        padding: 20px;
        margin: 40px;
        img {
          margin-left: -10px;
        }
        .classes-card-item-count {
          top: 139px;
          left: 20px;
        }
        .classes-card-item-title {
        }
        h4 {

        }
        p {

        }
        .classes-card-footer {
          .classes-card-footer-avatar img {
          }
          .classes-card-footer-name {
            .name {

            }
            .position {

            }
          }
        }
        .classes-card-button {
          button {
          }
        }
      }
    }
    .classes-button {
      button {

      }
    }
  }
  .webinar {
    .webinar-header {
      width: 300px;
      margin-bottom: 150px;
      h2 {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .webinar-block {
      flex-wrap: wrap;
      .webinar-block-video1 {
        width: 34%;
      }
      .webinar-block-video2 {
        position: absolute;
        top: -34%;
        left: 26%;
        width: 50%;
      }
      .webinar-block-video3 {
        width: 34%;
      }
    }
  }
  .pricing {
    .pricing-header {
      h2 {
        font-size: 25px;
        width: 200px;
      }
      p {
        font-size: 16px;
      }
    }
    .pricing-block {
      flex-wrap: wrap;
      padding-left: 68px;
      padding-right: 68px;
      .pricing-block-item {
        padding: 62px;
        margin: 0 auto 30px;
        .pricing-block-item-header {
          .pricing-block-item-header-exception {
            img {
              width: 103px;
              top: -64px;
              left: 262px;
            }
          }
          .pricing-block-item-header-stick {
            img {
              height: 36px;
            }
          }
          .pricing-block-item-header-tariffs {
            flex-direction: column;
            .pricing-block-item-header-tariffs-name {
              font-size: 16px;
            }
            .pricing-block-item-header-tariffs-price {
              .sign {
              }
              .price {
                font-size: 25px;
              }
              .period {
              }
            }
          }
        }
        .pricing-block-item-info {
          ul {
            li {
            }
          }
        }
        .sub-btn {
          button {
            height: 50px;
          }
        }
        .pricing-block-item-sub1 {

        }
        .pricing-block-item-sub2 {

        }
        .pricing-block-item-sub3 {

        }
      }
    }
  }
  .apps {
    display: flex;
    flex-wrap: wrap;
    .apps-info {
      width: 100%;
      margin-bottom: 100px;
      h3 {
        font-size: 35px;
        margin: 0 auto 25px;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin: 0 auto 65px;
        text-align: center;
        width: 650px;
      }
      .apps-info-brands {
        width: 400px;
        padding-left: 0;
        margin: 0 auto;
      }
    }
    .apps-visual {
      width: 100%;
      margin-bottom: -70px;
      .apps-visual-card {
        margin: 0 auto;
        .apps-visual-card-header {
          .apps-visual-card-header-avatar {
          }
          .apps-visual-card-header-description {
          }
          .apps-visual-card-header-res {
          }
          .apps-visual-card-header-avatar1 {
            padding: 10px;
            top: 23%;
            left: -80%;
            img {
              width: 55px;
            }
          }
        }
        .apps-visual-card-body {
          padding: 30px;
          .apps-visual-card-body-icon {
            img {
            }
          }
          .apps-visual-card-body-description {
          }
          .apps-visual-card-body-avatar2 {
            padding: 6px;
            top: 65%;
            left: -51%;
            img {
              width: 42px;
              height: 42px;
            }
          }
          .apps-visual-card-body-avatar3 {
            padding: 7px;
            top: 91%;
            right: -60%;
            img {
              width: 48px;
              height: 48px;
            }
          }
          .apps-visual-card-body-ref {
            top: 137%;
            left: -37%;
            width: 417px;
          }
        }
      }

    }
  }
  .footer {
    a {
      font-size: 15px;
    }
    .retreat {
      margin-bottom: 25px;
    }
    li {
    }
    .footer-links {
      .footer-social {
        .footer-social-logo {
          img {
          }
        }
        .footer-social-question {
        }
        .footer-social-links-ul {
          img {
          }
        }
      }
      .footer-menu {
        width: 116px;
      }
      .footer-services {
        width: 162px;
      }
      .footer-info {
        width: 192px;
      }
      .footer-apps {
        width: 169px;
      }
    }
    .footer-copyright {
      .footer-copyright-text {
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .webinar {
    .webinar-header {
      width: 300px;
      margin-bottom: 150px;
      h2 {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .webinar-block {
      flex-wrap: wrap;
      .webinar-block-video1 {
        width: 34%;
      }
      .webinar-block-video2 {
        position: absolute;
        top: -34%;
        left: 27%;
        width: 49%;
      }
      .webinar-block-video3 {
        width: 34%;
      }
    }
  }
}

@media screen and (max-width: 1090px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    .hero-section-avatar {
      position: relative;
      margin: 0 auto 0;
      .avatar-max {
        display: none;
      }
      .avatar-mini {
        display: block;
      }
      img {
        width: 525px;
        height: 590px;
      }
      .hero-section-avatar-position {
        img:nth-child(1){
          position: absolute;
          top: 35%;
          right: 88%;
          max-width: 90px;
          max-height: 90px;
        }
        img:nth-child(2){
          position: absolute;
          top: 23%;
          right: -9%;
          max-width: 90px;
          max-height: 90px;
        }
        img:nth-child(3){
          position: absolute;
          top: 84%;
          right: 2%;
        }
      }
    }
    .hero-section-description {
      max-width: 506px;
      margin: -60px auto;
      .hero-section-description-info {
        h1 {
          width: 450px;
          font-size: 35px;
          margin-bottom: 24px;
          text-align: center;
        }
        p {
          font-size: 15px;
          text-align: center;
        }
        .search-container {
          input#search-bar{
            width: 423px;
            height: 60px;
            margin-left: 8px;
          }
          .search-icon{
            top: 36%;
            right: 9%;
          }
        }
      }
      .hero-section-description-suggestions {
        display: flex;
        justify-content: space-evenly;
        p {
          display: none;
          margin-right: 10px;
        }
        button {
          width: 200px;
          height: 50px;
          margin-bottom: 20px;
        }
        .hero-section-description-suggestions-block1 {
          display: flex;
          flex-direction: column;
          height: 210px;
        }
        .hero-section-description-suggestions-block2 {
          display: flex;
          flex-direction: column;
          height: 210px;
        }
      }
    }
  }
  .webinar {
    .webinar-header {
      width: 300px;
      margin-bottom: 150px;
      h2 {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .webinar-block {
      flex-wrap: wrap;
      .webinar-block-video1 {
        width: 34%;
      }
      .webinar-block-video2 {
        position: absolute;
        top: -34%;
        left: 26%;
        width: 46%;
      }
      .webinar-block-video3 {
        width: 34%;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .webinar {
    .webinar-header {
      width: 300px;
      margin-bottom: 150px;
      h2 {
        font-size: 25px;
        margin: 0 auto;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin: 0 auto;
        text-align: center;
      }
    }
    .webinar-block {
      flex-wrap: wrap;
      .webinar-block-video1 {
        width: 34%;
      }
      .webinar-block-video2 {
        position: absolute;
        top: -34%;
        left: 27%;
        width: 46%;
      }
      .webinar-block-video3 {
        width: 34%;
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    a {
      font-size: 13px;
    }
    .retreat {
      margin-bottom: 25px;
    }
    li {
    }
    .footer-links {
      .footer-social {
        .footer-social-logo {
          img {
          }
        }
        .footer-social-question {
          width: 200px;
          p {
            font-size: 13px;
          }
        }
        .footer-social-links-ul {
          img {
          }
        }
      }
      .footer-menu {
        width: 95px;
      }
      .footer-services {
        width: 150px;
      }
      .footer-info {
        width: 160px;
      }
      .footer-apps {
        width: 140px;
      }
    }
    .footer-copyright {
      .footer-copyright-text {
      }
    }
  }
  .apps {
    .apps-info {
      h3 {
        font-size: 35px;
      }
      p {
        width: 300px;
      }
      .apps-info-brands {
        width: 380px;
      }
    }
    .apps-visual {
      width: 100%;
      margin-bottom: -70px;
      .apps-visual-card {
        margin: 0 auto;
        .apps-visual-card-header {
          .apps-visual-card-header-avatar {
          }
          .apps-visual-card-header-description {
          }
          .apps-visual-card-header-res {
          }
          .apps-visual-card-header-avatar1 {
            padding: 7px;
            top: 10%;
            left: -51%;
            img {
              width: 48px;
            }
          }
        }
        .apps-visual-card-body {
          padding: 30px;
          .apps-visual-card-body-icon {
            img {
            }
          }
          .apps-visual-card-body-description {
          }
          .apps-visual-card-body-avatar2 {
            padding: 5px;
            top: 63%;
            left: -34%;
            img {
              width: 38px;
              height: 38px;
            }
          }
          .apps-visual-card-body-avatar3 {
            padding: 6px;
            top: 66%;
            right: -39%;
            img {
              width: 40px;
              height: 40px;
            }
          }
          .apps-visual-card-body-ref {
            top: 137%;
            left: -37%;
            width: 366px;
          }
        }
      }

    }
  }
}

@media screen and (max-width: 768px) {
  .wrap-container {
    width: 100%;
    margin: 0 auto;
  }
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    .hero-section-avatar {
      position: relative;
      margin: 0 auto 0;
      .avatar-max {
        display: none;
      }
      .avatar-mini {
        display: block;
        width: 460px;
        height: auto;
      }
      .hero-section-avatar-position {
        img:nth-child(1){
          position: absolute;
          top: 37%;
          right: 83%;
          max-width: 60px;
          max-height: 60px;
        }
        img:nth-child(2){
          position: absolute;
          top: 25%;
          right: 0;
          max-width: 60px;
          max-height: 60px;
        }
        img:nth-child(3){
          position: absolute;
          top: 84%;
          right: 2%;
          width: 40%;
          height: auto;
        }
      }
    }
    .hero-section-description {
      max-width: 506px;
      margin: -60px auto;
      .hero-section-description-info {
        h1 {
          width: 450px;
          font-size: 35px;
          margin-bottom: 24px;
          text-align: center;
        }
        p {
          font-size: 15px;
          text-align: center;
        }
        .search-container {
          input#search-bar{
            width: 423px;
            height: 60px;
            margin-left: 8px;
          }
          .search-icon{
            top: 36%;
            right: 9%;
          }
        }
      }
      .hero-section-description-suggestions {
        display: flex;
        justify-content: space-evenly;
        p {
          display: none;
          margin-right: 10px;
        }
        button {
          width: 200px;
          height: 50px;
          margin-bottom: 20px;
        }
        .hero-section-description-suggestions-block1 {
          display: flex;
          flex-direction: column;
          height: 210px;
        }
        .hero-section-description-suggestions-block2 {
          display: flex;
          flex-direction: column;
          height: 210px;
        }
      }
    }
  }
  .featured {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 120px;
    width: 400px;
    .featured-block {
      .featured-icon {
        margin: 60px auto -10px;
        img {
          margin-right: 20px;
          margin-left: 80px;
        }
        h4 {
          font-size: 20px;
        }
      }
      .featured-text {
        p {
          margin-left: -19px;
          max-width: 400px;
          font-size: 13px;
          line-height: 22px;
        }
      }
    }
  }
  .classes {
    .classes-header {
      h2 {
        margin-left: 30px;
        font-size: 25px;
        text-align: center;
      }
      p {
        font-size: 16px;
        margin-bottom: 75px;
        text-align: center;
      }
    }
    .classes-card {
      justify-content: space-evenly;
      flex-wrap: wrap;
      .classes-card-item {
        padding: 20px;
        margin: 40px;
        img {
          margin-left: -10px;
        }
        .classes-card-item-count {
          top: 139px;
          left: 20px;
        }
        .classes-card-item-title {
        }
        h4 {

        }
        p {

        }
        .classes-card-footer {
          .classes-card-footer-avatar img {
          }
          .classes-card-footer-name {
            .name {

            }
            .position {

            }
          }
        }
        .classes-card-button {
          button {
          }
        }
      }
    }
    .classes-button {
      button {

      }
    }
  }
  .webinar {
    .webinar-header {
      margin-bottom: 150px;
      h2 {
      }
      p {
        font-size: 16px;
        text-align: center;
        width: 325px;
        margin: 10px auto 60px;
      }
    }
    .webinar-block {
      flex-wrap: wrap;
      .webinar-block-video1 {
        width: 34%;
      }
      .webinar-block-video2 {
        position: absolute;
        top: -34%;
        left: 27%;
        width: 45%;
      }
      .webinar-block-video3 {
        width: 34%;
      }
    }
    .webinar-reference {
      a {
        font-size: 11px;
      }
      img {
        width: 22px;
        height: 27px;
        padding-top: 4px;
      }
    }
  }
  .pricing {
    .pricing-header {
      h2 {
        font-size: 25px;
        width: 200px;
      }
      p {
        font-size: 16px;
      }
    }
    .pricing-block {
      flex-wrap: wrap;
      padding-left: 68px;
      padding-right: 68px;
      .pricing-block-item {
        padding: 30px;
        margin: 0 auto 30px;
        .pricing-block-item-header {
          .pricing-block-item-header-exception {
            img {
              width: 92px;
              top: -32px;
              left: 170px;
              height: 85px;
            }
          }
          .pricing-block-item-header-stick {
            img {
              height: 36px;
            }
          }
          .pricing-block-item-header-tariffs {
            flex-direction: column;
            .pricing-block-item-header-tariffs-name {
              font-size: 16px;
            }
            .pricing-block-item-header-tariffs-price {
              .sign {
              }
              .price {
                font-size: 25px;
              }
              .period {
              }
            }
          }
        }
        .pricing-block-item-info {
          ul {
            li {
            }
          }
        }
        .sub-btn {
          margin: 55px 20px 0 18px;
          button {
            height: 50px;
            width: 190px;

          }
        }
        .pricing-block-item-sub1 {

        }
        .pricing-block-item-sub2 {

        }
        .pricing-block-item-sub3 {

        }
      }
    }
  }
  .apps {
    .apps-info {
      h3 {
        font-size: 35px;
      }
      p {
        width: 300px;
      }
      .apps-info-brands {
        width: 380px;
      }
    }
    .apps-visual {
      .apps-visual-card {
        .apps-visual-card-header {
          .apps-visual-card-header-avatar {}
          .apps-visual-card-header-description {}
          .apps-visual-card-header-res {}
          .apps-visual-card-header-avatar1 {
            padding: 6px;
            top: 20%;
            left: -38%;
            img {
              width: 45px;
            }
          }
        }
        .apps-visual-card-body {
          padding: 30px;
          .apps-visual-card-body-icon {}
          .apps-visual-card-body-description {}
          .apps-visual-card-body-avatar2 {
            padding: 4px;
            top: 71%;
            left: -30%;
            img {
              width: 35px;
              height: 35px;
            }
          }
          .apps-visual-card-body-avatar3 {
            padding: 5px;
            top: 76%;
            right: -24%;
            img {
              width: 38px;
              height: 38px;
            }
          }
          .apps-visual-card-body-ref {
            top: 137%;
            left: -21%;
            width: 342px;
          }
        }
      }

    }
  }
  .footer {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    a {
      font-size: 13px;
    }
    .retreat {
      margin-bottom: 25px;
    }
    li {
      margin: 5px;
    }
    .footer-links {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 0 auto;
      width: 300px;
      .footer-social {
        margin: 0 auto 50px;
        padding-left: 70px;
        width: 300px;
        .footer-social-logo {
          padding-left: 30px;
          img {
          }
        }
        .footer-social-question {
          width: 200px;
          p {
            font-size: 13px;
          }
        }
        .footer-social-links-ul {
          padding-left: 30px;
        }
      }
      .footer-menu {
        margin: 0 auto 50px;
        text-align: center;
      }
      .footer-services {
        margin: 0 auto 50px;
        text-align: center;
      }
      .footer-info {
        margin: 0 auto 50px;
        text-align: center;
      }
      .footer-apps {
        margin: 0 auto 50px;
        text-align: center;
      }
    }
    .footer-copyright {
      .footer-copyright-text {
        font-size: 13px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .webinar {
    .webinar-header {
      margin-bottom: 150px;
      h2 {
        width: 300px;
      }
      p {
        font-size: 16px;
        text-align: center;
        width: 300px;
        margin: 10px auto 60px;
      }
    }
    .webinar-block {
      flex-wrap: wrap;
      .webinar-block-video1 {
        width: 34%;
      }
      .webinar-block-video2 {
        position: absolute;
        top: -34%;
        left: 27%;
        width: 45%;
      }
      .webinar-block-video3 {
        width: 34%;
      }
    }
    .webinar-reference {
      a {
        font-size: 11px;
      }
      img {
        width: 22px;
        height: 27px;
        padding-top: 4px;
      }
    }
  }
  .apps {
    .apps-info {
      h3 {
        font-size: 25px;
      }
      p {
        width: 270px;
        font-size: 14px;
      }
      .apps-info-brands {
        display: flex;
        flex-wrap: wrap;
        width: 300px;

        .apps-info-brands-google {
          margin: 0 auto;
          img {
            width: 100%;
            height: auto;
          }
        }
        .apps-info-brands-apple {
          margin: 0 auto;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .apps-visual {
      .apps-visual-card {
        margin: 0 8%;
        .apps-visual-card-header {
          .apps-visual-card-header-avatar {}
          .apps-visual-card-header-description {}
          .apps-visual-card-header-res {}
          .apps-visual-card-header-avatar1 {
            padding: 4px;
            top: 78%;
            left: -24%;
            img {
              width: 40px;
            }
          }
        }
        .apps-visual-card-body {
          padding: 30px;
          .apps-visual-card-body-icon {}
          .apps-visual-card-body-description {}
          .apps-visual-card-body-avatar2 {
            padding: 4px;
            top: 89%;
            left: -21%;
          }
          .apps-visual-card-body-avatar3 {
            padding: 4px;
            top: 80%;
            right: -20%;
            img {
              width: 38px;
              height: 38px;
            }
          }
          .apps-visual-card-body-ref {
            top: 137%;
            left: -21%;
            width: 342px;
            .apps-visual-ref-course {
              width: 140px;
              height: 90px;
              img {
                top: -29px;
                left: 20px;
                width: 93px;
                height: 79px;
              }
            }
            .apps-visual-ref-class {
              width: 149px;
              height: 90px;
              img {
                top: -27px;
                left: 31px;
                width: 93px;
                height: 79px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    .hero-section-avatar {
      position: relative;
      margin: 0 auto 0;
      .avatar-max {
        display: none;
      }
      .avatar-mini {
        width: 425px;
      }
      .hero-section-avatar-position {
        img:nth-child(1){
          position: absolute;
          top: 35%;
          right: 77%;
          max-width: 50px;
          max-height: 50px;
        }
        img:nth-child(2){
          position: absolute;
          top: 24%;
          right: 5%;
          max-width: 50px;
          max-height: 50px;
        }
        img:nth-child(3){
          position: absolute;
          top: 84%;
          right: 2%;
          width: 40%;
          height: auto;
        }
      }
    }
    .hero-section-description {
      max-width: 506px;
      margin: -60px auto;
      .hero-section-description-info {
        h1 {
          width: 360px;
          font-size: 28px;
          margin: 0 auto 20px;
        }
        p {
          font-size: 13px;
          text-align: center;
        }
        .search-container {
          margin: -10px auto 30px;
          width: 360px;
          input#search-bar{
            width: 360px;
            height: 60px;
            margin: 0 auto;
          }
          .search-icon{
            top: 36%;
            right: 9%;
          }
        }
      }
      .hero-section-description-suggestions {
        display: flex;
        flex-wrap: wrap;
        p {
          display: none;
          margin-right: 10px;
        }
        button {
          width: 200px;
          height: 50px;
          margin-bottom: 20px;
        }
        .hero-section-description-suggestions-block1 {
          display: flex;
          flex-direction: column;
        }
        .hero-section-description-suggestions-block2 {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
  .classes {
    .classes-header {
      width: 260px;
      h2 {
        margin-left: 0;
        font-size: 20px;
        text-align: center;
        line-height: 35px;
      }
      p {
        font-size: 14px;
        margin-bottom: 75px;
        text-align: center;
      }
    }
    .classes-card {
      justify-content: space-evenly;
      flex-wrap: wrap;
      .classes-card-item {
        padding: 20px;
        margin: 40px;
        img {
          margin-left: -10px;
        }
        .classes-card-item-count {
          top: 139px;
          left: 20px;
        }
        .classes-card-item-title {
        }
        h4 {

        }
        p {

        }
        .classes-card-footer {
          .classes-card-footer-avatar img {
          }
          .classes-card-footer-name {
            .name {

            }
            .position {

            }
          }
        }
        .classes-card-button {
          button {
          }
        }
      }
    }
    .classes-button {
      width: 160px;
      button {
        margin: 0 auto;
        width: 160px;
        font-size: 11px;
        padding: 10px 10px;
      }
    }
  }
  .pricing {
    .pricing-header {
      h2 {
        font-size: 25px;
        width: 200px;
        text-align: center;
      }
      p {
        font-size: 16px;
        text-align: center;
      }
    }
    .pricing-block {
      flex-wrap: wrap;
      padding-left: 68px;
      padding-right: 68px;
      .pricing-block-item {
        padding: 20px;
        margin: 0 auto 30px;
        .pricing-block-item-header {
          .pricing-block-item-header-exception {
            img {
              width: 81px;
              top: -22px;
              left: 171px;
              height: 75px;
            }
          }
          .pricing-block-item-header-stick {
            img {
              height: 36px;
            }
          }
          .pricing-block-item-header-tariffs {
            flex-direction: column;
            .pricing-block-item-header-tariffs-name {
              font-size: 16px;
            }
            .pricing-block-item-header-tariffs-price {
              .sign {
              }
              .price {
                font-size: 25px;
              }
              .period {
              }
            }
          }
        }
        .pricing-block-item-info {
          ul {
            li {
            }
          }
        }
        .pricing-block-item-sub1 {
          font-size: 11px;
          padding: 10px 10px;
        }
        .pricing-block-item-sub2 {
          font-size: 11px;
          padding: 10px 10px;
        }
        .pricing-block-item-sub3 {
          font-size: 11px;
          padding: 10px 10px;
        }
      }
    }
  }
  .apps {
    .apps-info {
      h3 {
        font-size: 25px;
      }
      p {
        width: 270px;
        font-size: 14px;
      }
      .apps-info-brands {
        display: flex;
        flex-wrap: wrap;
        width: 300px;

        .apps-info-brands-google {
          margin: 0 auto;
          img {
            width: 100%;
            height: auto;
          }
        }
        .apps-info-brands-apple {
          margin: 0 auto;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
    .apps-visual {
      .apps-visual-card {
        margin: 0 8%;
        .apps-visual-card-header {
          .apps-visual-card-header-avatar {}
          .apps-visual-card-header-description {}
          .apps-visual-card-header-res {}
          .apps-visual-card-header-avatar1 {
            padding: 4px;
            top: 78%;
            left: -24%;
            img {
              width: 40px;
            }
          }
        }
        .apps-visual-card-body {
          padding: 30px;
          .apps-visual-card-body-icon {}
          .apps-visual-card-body-description {}
          .apps-visual-card-body-avatar2 {
            padding: 4px;
            top: 89%;
            left: -21%;
          }
          .apps-visual-card-body-avatar3 {
            padding: 4px;
            top: 80%;
            right: -20%;
            img {
              width: 38px;
              height: 38px;
            }
          }
          .apps-visual-card-body-ref {
            top: 137%;
            left: -21%;
            width: 342px;
            .apps-visual-ref-course {
              width: 140px;
              height: 90px;
              img {
                top: -29px;
                left: 20px;
                width: 93px;
                height: 79px;
              }
            }
            .apps-visual-ref-class {
              width: 149px;
              height: 90px;
              img {
                top: -27px;
                left: 31px;
                width: 93px;
                height: 79px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .hero-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    .hero-section-avatar {
      position: relative;
      margin: 0 auto 0;
      .avatar-max {
        display: none;
      }
      .avatar-mini {
        width: 425px;
      }
      .hero-section-avatar-position {
        img:nth-child(1){
          position: absolute;
          top: 35%;
          right: 77%;
          max-width: 50px;
          max-height: 50px;
        }
        img:nth-child(2){
          position: absolute;
          top: 24%;
          right: 5%;
          max-width: 50px;
          max-height: 50px;
        }
        img:nth-child(3){
          position: absolute;
          top: 84%;
          right: 2%;
          width: 40%;
          height: auto;
        }
      }
    }
    .hero-section-description {
      max-width: 506px;
      margin: -60px auto;
      .hero-section-description-info {
        h1 {
          width: 360px;
          font-size: 28px;
          margin: 0 auto 20px;
        }
        p {
          font-size: 13px;
          text-align: center;
        }
        .search-container {
          margin: -10px auto 30px;
          width: 360px;
          input#search-bar{
            width: 360px;
            height: 60px;
            margin: 0 auto;
          }
          .search-icon{
            top: 36%;
            right: 5%;
          }
        }
      }
      .hero-section-description-suggestions {
        display: flex;
        flex-wrap: wrap;
        p {
          display: none;
          margin-right: 10px;
        }
        button {
          width: 200px;
          height: 50px;
          margin-bottom: 20px;
        }
        .hero-section-description-suggestions-block1 {
          display: flex;
          flex-direction: column;
        }
        .hero-section-description-suggestions-block2 {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }

}
