$background-color: #171836;
$background-color-element: #282B57;
$headings-text: rgba(255, 255, 255, 0.8);
$headings-text2: rgba(255, 255, 255, 0.7);
$headings-text3: rgba(59, 245, 189, 1);
$text-color: rgba(255, 255, 255, 0.4);
$text-color2: rgba(255, 255, 255, 0.6);
$text-color3: rgba(209, 209, 215, 1);
$text-button: rgba(255, 255, 255, 1);
$highlighting-elements: rgba(245, 68, 59, 1);
$highlighting-elements2: rgba(41, 43, 86, 1);
$highlighting-elements3: rgba(151, 153, 206, 1);
$highlighting-elements4: #212145;
$icon-color: #ACABBF;
$focus-color: #008ABF;
$border-color: rgba(154, 156, 203, 0.6);

///////////////////////--styles for the whole project--///////
body {
  background-color: $highlighting-elements2;
}
.wrap-container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
  background-color: $background-color;
  color: $text-color;
  font-family: Inter, sans-serif;
}

//////////////////////--header--/////////////////////////////
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16.94px;
  height: 80px;
  margin: 0 50px 38px 50px;
  .header-block-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 46%;
    .header-block-left-logo {
    }
    .header-block-left-navigation {
      width: 58%;
      .header-block-left-navigation-item {
        display: flex;
        justify-content: space-between;
        li a {
          &:hover {
            text-shadow:4px 4px 5px $highlighting-elements;
          }
        }
      }
    }
  }
  .header-block-right {
    .header-block-right-button {
      padding: 12px 32px;
      background-color: $highlighting-elements;
      color: $text-button;
      border-radius: 6px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $focus-color;
        box-shadow:inset 0 0 15px 3px rgba(17, 37, 93, 1);
        background:linear-gradient(rgba(208, 2, 27, 1), rgba(208, 2, 27, 1));
      }
    }
  }
}

//////////////////////--first section--//////////////////////
.hero-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 164px;
  .hero-section-avatar {
    img {
      width: 702px;
      height: 775px;
    }
    .hero-section-avatar-position {
      img:nth-child(1){
        position: relative;
        top: -617px;
        right: -27px;
        max-width: 90px;
        max-height: 90px;
        border-radius: 20px;
        background-color: $background-color-element;
        padding: 13px;
        transform: rotate(-8deg);
      }
      img:nth-child(2){
        position: relative;
        top: -726px;
        right: -399px;
        max-width: 90px;
        max-height: 90px;
        border-radius: 20px;
        background-color: $background-color-element;
        padding: 13px;
        transform: rotate(12deg);
      }
      img:nth-child(3){
        position: relative;
        top: -135px;
        right: -155px;
        width: auto;
        height: auto;
        z-index: 1;
        border-radius: 20px;
        background-color: #282B57;
        padding: 10px;
      }
    }
  }
  .hero-section-description {
    padding: 94px 0 0 0;
    max-width: 506px;
    margin-right: 48px;
    .hero-section-description-info {
      h1 {
        font-size: 56px;
        line-height: 73px;
        color: $headings-text;
        word-spacing: -4px;
        margin-bottom: 24px;
      }
      p {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 56px;
      }
      .search-container {
        margin-bottom: 48px;
        input#search-bar{
          width: 506px;
          height: 68px;
          padding: 0 32px;
          background-color: #1F2143;
          border-radius: 8px;
          &:focus{
            border: 1px solid $focus-color;
            transition: 0.35s ease;
            color: $highlighting-elements;
            &::placeholder {
              transition: opacity 0.45s ease;
              opacity: 0;
            }
          }
          &:hover{
            box-shadow: inset 5px -5px 10px #13141a, inset -5px 5px 10px #333644;
          }
        }
        .search-icon{
          position: relative;
          float: right;
          width: 24px;
          top: -46px;
          right: 22px;
        }
      }
    }
    .hero-section-description-suggestions {
      p {
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 34px;
      }
      button {
        padding: 5px 17px;
        border: 1px solid $border-color;
        font-size: 14px;
        border-radius: 8px;
        margin-right: 5px;
        &:focus{
          border: 1px solid $focus-color;
          transition: 0.35s ease;
          color: $highlighting-elements;
        }
        &:hover{
          box-shadow: inset 5px -5px 10px #13141a, inset -5px 5px 10px #333644;
          transition: 0.35s ease;
          color: $highlighting-elements;
        }
      }
      .hero-section-description-suggestions-block1 {
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
      }
      .hero-section-description-suggestions-block2 {
        max-width: 465px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

/////////////////////--featured--//////////////////////////
.featured {
  display: flex;
  justify-content: space-between;
  margin: 0 39px 169px 68px;
  .featured-block {
    .featured-icon {
      display: flex;
      img {
        margin-right: 38px;
        width: 24px;
        height: 24px;
      }
      h4 {
        color: $headings-text2;
        font-weight: 600;
        font-size: 20px;
      }
    }
    .featured-text {
      margin-top: 27px;
      margin-left: 60px;
     p {
       max-width: 311px;
       font-size: 14px;
       line-height: 24px;
       font-weight: 400;
       color: $text-color2;
     }
    }
    /*
    .featured-vector {
      width: 300px;
      height: 500px;
      position: absolute;
      top: -100px;
      left: -100px;
    }
     */
  }
}

/////////////////////--featured--//////////////////////////
.classes {
  margin-bottom: 173px;
  .classes-header {
    margin: 0 auto;
    width: 495px;
    h2 {
      font-size: 36px;
      line-height: 54px;
      color: $headings-text;
      margin-bottom: 19px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      margin-left: 3px;
      margin-bottom: 85px;
    }
  }
  .classes-card {
    display: flex;
    justify-content: space-between;
    margin: 0 50px 120px 50px;
    .classes-card-item {
      width: 276px;
      padding: 10px;
      border: 1px solid $headings-text2;
      border-radius: 15px;
      background-color: $highlighting-elements4;
      &:hover {
        .classes-card-button {
          height: 43px;
        }
      }
      img {
        width: 252px;
        height: 169px;
        border-radius: 13px;
        margin-bottom: 21px;
      }
      .classes-card-item-title {
        display: block;
        color: $headings-text3;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 7px;
      }
      h4 {
        font-size: 18px;
        color: $headings-text;
        margin-bottom: 12px;
      }
      p {
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 20px;
        border-bottom: 1px solid $highlighting-elements2;
        margin-bottom: 16px;
      }
      .classes-card-footer {
        display: flex;
        margin-bottom: -10px;
        .classes-card-footer-avatar img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
        }
        .classes-card-footer-name {
          display: flex;
          flex-direction: column;
          margin-left: 15px;
          .name {
            font-weight: 500;
            font-size: 14px;
            color: $headings-text;
          }
          .position {
            font-size: 12px;
          }
        }
      }
      .classes-card-button {
        overflow: hidden;
        transition: all .4s ease-in;
        text-align: center;
        height: 0;
        button {
          width: 155px;
          padding: 12px 32px;
          background-color: $highlighting-elements;
          border-radius: 6px;
          font-size: 14px;
          line-height: 17px;
          font-weight: 600;
          color: $headings-text;
          border: 1px solid transparent;
          &:hover {
            margin: 0 auto;
            display: block;
            border: 1px solid $focus-color;
            box-shadow:inset 0 0 15px 3px rgba(17, 37, 93, 1);
            background:linear-gradient(rgba(208, 2, 27, 1), rgba(208, 2, 27, 1));
          }
        }
      }
    }
  }
  .classes-button {
    width: 200px;
    margin: 0 auto;
    button {
      width: 198px;
      padding: 16px 32px;
      border: 1px solid $highlighting-elements;
      border-radius: 6px;
      font-weight: 700;
      font-size: 15px;
      line-height: 19px;
      color: $highlighting-elements;
      &:hover {
        border: 1px solid $focus-color;
        box-shadow:inset 0 0 15px 3px rgba(0, 0, 0, 1);
      }
    }
  }
}

/////////////////////--webinar--//////////////////////////
.webinar {
  margin-bottom: 159px;
  .webinar-header {
    margin: 0 auto;
    width: 672px;
    h2 {
      font-size: 36px;
      line-height: 54px;
      color: $headings-text;
      width: 346px;
      margin: 0 auto 20px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 195px;
    }
  }
  .webinar-block {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 48px;
    padding-right: 48px;
    margin-bottom: 119px;
    .webinar-block-video1 {
      img {
        width: 401px;
        height: 270px;
      }
    }
    .webinar-block-video2 {
      img {
        width: 622px;
        height: 424px;
        position: absolute;
        top: -91px;
        left: 337px;
      }
    }
    .webinar-block-video3 {
      img {
        width: 408px;
        height: 270px;
      }
    }
  }
  .webinar-reference {
    display: flex;
    justify-content: end;
    padding-right: 49px;
    a {
      color: $text-color3;
      font-size: 14px;
      margin-right: 9px;
      &:hover {
        text-shadow: 4px 4px 5px $highlighting-elements;
      }
    }
    img {
      width: 24px;
      height: 32px;
      padding-top: 1px;
    }
  }
}

/////////////////////--pricing--//////////////////////////
.pricing {
  margin-bottom: 174px;
  .pricing-header {
    margin: 0 auto;
    width: 330px;
    h2 {
      font-size: 36px;
      line-height: 54px;
      color: $headings-text;
      width: 257px;
      margin: 0 auto 20px;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 84px;
    }
  }
  .pricing-block {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    .pricing-block-item {
      border: 3px solid $background-color-element;
      border-radius: 20px;
      padding: 33px;
      background-color: $highlighting-elements4;
      .pricing-block-item-header {
        display: flex;
        border-bottom: 1px solid rgb(41, 43, 86);
        padding-bottom: 24px;
        margin-bottom: 10px;
        .pricing-block-item-header-exception {
          position: relative;
          img {
            width: 99px;
            height: 92px;
            position: absolute;
            top: -36px;
            left: 237px;
            border-radius: 20px;
          }
        }
        .pricing-block-item-header-stick {
          margin: 14px 40px 0 10px;
          img {
            height: 36px;
          }
        }
        .pricing-block-item-header-tariffs {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 67px;
          .pricing-block-item-header-tariffs-name {
            padding-top: 3px;
            color: $headings-text;
            font-weight: 600;
            font-size: 18px;
          }
          .pricing-block-item-header-tariffs-price {
            display: flex;
            height: 34px;
            .sign {
              display: flex;
              align-items: flex-start;
              height: 100%;
              color: $highlighting-elements;
              margin-right: 3px;
            }
            .price {
              color: $highlighting-elements;
              font-size: 28px;
              display: flex;
              align-items: center;
              height: 100%;
              margin-right: 5px;
            }
            .period {
              color: $headings-text;
              font-size: 11px;
              font-weight: 500;
              display: flex;
              align-items: flex-end;
              height: 100%;
            }
          }
        }
      }
      .pricing-block-item-info {
        margin-left: -7px;
        ul {
          li {
            color: $headings-text;
            font-size: 14px;
            line-height: 17px;
            &:before {
              content: '.';
              font-size: 70px;
              align-items: center;
              color: $highlighting-elements3;
              margin-right: 7px;
            }
          }
        }
      }
      .sub-btn {
        button {
          width: 300px;
          border: 1px solid $highlighting-elements;
          border-radius: 6px;
          color: $highlighting-elements;
          height: 50px;
          &:hover {
            color: $headings-text;
            background-color: $highlighting-elements;
          }
        }
      }
      .pricing-block-item-sub1 {
        margin-top: 142px;
      }
      .pricing-block-item-sub2 {
        margin-top: 104px;
      }
      .pricing-block-item-sub3 {
        margin-top: 29px;
      }
    }
  }
}

/////////////////////--pricing--//////////////////////////
.apps {
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
  margin-left: 48px;
  margin-right: 48px;
  padding: 70px;
  background-color: $highlighting-elements4;
  border-radius: 40px;
  .apps-info {
    padding-top: 16px;
    padding-left: 31px;
    h3 {
      font-size: 47px;
      color: $text-button;
      line-height: 75px;
      margin-bottom: 12px;
    }
    p {
      width: 406px;
      font-size: 18px;
      color: $headings-text2;
      line-height: 32px;
      padding-left: 5px;
      margin-bottom: 40px;
    }
    .apps-info-brands {
      display: flex;
      justify-content: space-between;
      width: 342px;
      padding-left: 5px;
      .apps-info-brands-google {
        img {
          width: 165px;
          height: 55px;
        }
      }
      .apps-info-brands-apple {
        img {
          padding-top: 3px;
          width: 148px;
          height: 53px;
        }
      }
    }
  }
  .apps-visual {
  }
}