$background-color: #e5e5e5;
$title-text-color: #000000;
$content-color: #565656;
$content-text: 'Lato', sans-serif;
$title-text: 'Red Hat Display', sans-serif;
$base_fz: 16;/*формула автопервода из px в rem*/

@mixin fz($size_in_px) {
  font-size:($size_in_px/$base_fz)+rem;
}
