/*Normalize.css*/
* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
}
* html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*VISIBLE PART*/
body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: #070707;
}

.container {
    margin: 0 auto;
    font-size: 16px;
}

header {
    height: 75px;
    margin-bottom: 43px;
}

#header .container {
    border-bottom: 1px solid #828282;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.container {
    max-width: 940px;
}

#size1 h1 {
    margin-bottom: 40px;
}

#main-menu ul {
    text-align: center;
    padding: 30px 0;
}

#main-menu ul li {
    display: inline-block;
    margin: 0 20px;
}

#main-menu ul li a {
    font-size: 18px;
    line-height: 25px;
    color: #828282;
    text-decoration: none;
}

#main-menu ul li a.active,
#main-menu ul li a:hover {
    color: #070707;
}

.white {
    background-color: #fff;
}

.gray {
    background-color: #f6f6f6;
}

.first-screen {
    padding: 33px 0 64px;
}

section {
    padding: 100px 0;
}

h1 {
    font-size: 47px;
    line-height: 64px;
}

img {
    width: 100%;
    vertical-align: top;
    display: block;
}

h2 {
    text-align: center;
    font-size: 34px;
    line-height: 46px;
    margin-bottom: 21px;
}

#size2 {
    padding-top: 103px;
}

#size2 p:last-child {
    margin-bottom: 0;
}

#size2 h2 {
    margin-bottom: 25px;
}

#size3 {
    padding-bottom: 53px;
}

#size4 {
    padding-top: 120px;
    padding-bottom: 82px;
}

 #size3 p {
     margin-bottom: 76px;
 }
#size3 h2 {
    margin-bottom: 25px;
}

 #size3 img {
    margin-bottom: 25px;
}

.programs {
    width: 160px;
    height: 220px;
}

#size4 h2 {
    margin-bottom: 62px;
}

#size4 figure {
    margin-bottom: 112px;
}

#size4 figure:last-child {
    margin-bottom: 0;
}

figcaption {
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.container-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto 10px auto;
}

p {
    text-align: center;
    margin-bottom: 49px;
    font-size: 18px;
}

a {
    color: #070707;
}

a:hover {
    color: #828282;
}

footer {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.btn {
    width: 180px;
    height: 42px;
    margin: 22px auto 37px auto;
    padding: 0 20px;
    line-height: 38px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 21px;
    cursor: pointer;
    border: 2px solid #333;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.footer-logo a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 28px;
}

.footer-author {
    margin: 38px auto 10px auto;
    width: 243px;
    height: 63px;
    text-align: center;
    color: #828282;
    font-size: 14px;
}