/*drop style*/
*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

ol, ul {
    list-style: none;
}

a, button {
    transition: all .2s ease-in;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.page_wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container {
    width: calc(100 - 30px);
    max-width: 1200px;
    margin: 0 auto;
}

main {
    flex-grow: 1;
}

/*VISIBLE PART*/
/*HEADER*/
body {
    width: 100%;
    padding-left: 24px;
    padding-right: 44px;
}

.container {
    font-family: Roboto, sans-serif;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
    position: fixed;
    z-index: 100;
    align-items: flex-start;
}

h1 {
    color: transparent;
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    font-size: 1.125rem;
    letter-spacing: 2px;
}

header p {
    font-size: 20px;
    font-weight: 400;
}

header img {
    width: 243px;
    height: 55px;
}

.header-text {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header-text p {
    padding-left: 15px;
}

.sidenav {
    height: 100%;
    width: 460px;
    position: fixed;
    z-index: 1;
    top: 152px;
    left: 10px;
    overflow-x: hidden;
    padding-top: 20px;
}

main {
    margin-left: 480px;
    font-size: 28px;
    padding: 0 10px;
}

.sub_sidenav {
    display: flex;
    flex-direction: row;
}

.sub_sidenav a {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 37px;
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 30px;
}

.sub_sidenav sup {
    padding-top: 10px;
    padding-right: 20px;

}


/*MAIN*/
.underline {
    text-decoration: underline;
}

.bolder {
    font-weight: 700;
}

.emphasis {
    background-color: lightgrey;
}

.headings-block {
    display: flex;
    flex-flow: column;
    margin-bottom: 50px;
    margin-top: 180px;
}

.headings-block p {
    font-family: "Roboto", sans-serif;
    padding-top: 71px;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 19px;
}

h2 {
    margin-top: 66px;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-size: 37px;
    letter-spacing: 1px;
}

hr {
    margin-bottom: 55px;
    margin-top: -24px;
}

.line {
    width: 79px;
    height: 13px;
    background-color: black;
    margin-bottom: -39px;
    margin-top: 10px;
}

main p {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 35px;
    padding-left: 2px;
    word-spacing: 2px;
}

.block {
    padding-left: 8px;
}

.block2 {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    height: 300px;
}