$color-background: #FFFFFF;
$color-headings: #212353;
$color-elements: #F063B8;
$color-parts: #9C69E2;
$color-content: #4b5d68;
$background-one: #fde7f4;
$content-text: 'Avenir', sans-serif;
$title-text: 'Helvetica', sans-serif;
$base_fz: 16;/*формула автоперехода из px в rem*/


%large_size_btn {
  height: 60px;
  width: 210px;
  background: $color-background;
  border-radius: 50px;
  color: $color-headings;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
  margin-top: -10px;
}

%small_size_btn {
  height: 60px;
  width: 170px;
  border-radius: 50px;
  color: $color-background;
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  -webkit-box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  box-shadow:inset 2px 2px 2px 0 rgba(255,255,255,.5),
  7px 7px 20px 0 rgba(0,0,0,.1),
  4px 4px 5px 0 rgba(0,0,0,.1);
  outline: none;
  &:hover {
    color: $color-headings;
  }
}

%title_style {
  font-family: $title-text;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: $color-headings;
}

%title_headings {
  font-size: 24px;
  line-height: 31px;
  font-weight: 400;
  color: $color-headings;
  font-family: $title-text;
}

%content-text_feature {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

%signature {
  font-size: 16px;
  line-height: 25px;
  font-weight: 800;
  color: $color-headings;
}


body {
  font-family: $content-text;
  color: $color-content;
}

.container {
  max-width: 1250px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: none;
}
.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  -webkit-box-shadow:
          -7px -7px 20px 0px #fff9,
          -4px -4px 5px 0px #fff9,
          7px 7px 20px 0px #0002,
          4px 4px 5px 0px #0001;
  box-shadow:
          -7px -7px 20px 0px #fff9,
          -4px -4px 5px 0px #fff9,
          7px 7px 20px 0px #0002,
          4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 50px;
}
.btn:hover {
  background: $color-elements;
  color: $color-background;
}
.btn:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.btn:active {
  top: 2px;
}
.icon-arrow {
  color: $color-parts;
  font-size: 20px;
}


.header {
  position: sticky;
  z-index: 3;
  background: $color-background;
  top: 0;
  height: 60px;
  padding: 61px 137px 10px 142px;
  margin: 0 auto;
}

.burger_menu {
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  font-size: calc(50px * .55);
}

.menu {
  margin: 0 auto;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  text-align: center;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  padding-left: 40px;
  &:after {
    content: '\2630';
    width: 50px;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 12%;
    top: 45%;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: $color-parts;
    border-radius: inherit;
    font-size: calc(50px * .48);
    -webkit-transition: .75s;
    -o-transition: .75s;
    transition: .75s;
    -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.5);
    box-shadow: 0 10px 15px rgba(0,0,0,.5);
  }
  a {
    text-decoration: none;
  }
}
.open_menu:after {
  content: '\00D7';
  background: $color-elements;
}

.nav-item {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: $background-one;
  position: absolute;
  -webkit-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  left: 12%;
  top: 45%;
  -webkit-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.25);
  box-shadow: 0 5px 5px rgba(0,0,0,.25);
  text-decoration: none;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-animation: hue 10s linear infinite;
  animation: hue 10s linear infinite;
  &:hover {
    background: $color-elements;
    color: $color-headings;
    cursor: pointer;
  }
}

.open_menu .nav-item {
  -webkit-transform: scale(1) rotate(360deg);
  -ms-transform: scale(1) rotate(360deg);
  transform: scale(1) rotate(360deg);
}

.open_menu .nav-item:hover {
  -webkit-transform: scale(1.25) rotate(360deg);
  -ms-transform: scale(1.25) rotate(360deg);
  transform: scale(1.25) rotate(360deg);
}

.open_menu .nav-item:nth-child(1) {
  top: 45%;
  left: 35%;
}
.open_menu .nav-item:nth-child(2) {
  top: 45%;
  left: 50%;
}
.open_menu .nav-item:nth-child(3) {
  top: 45%;
  left: 65%;
}
.open_menu .nav-item:nth-child(4) {
  top: 45%;
  left: 80%;
}

@media only screen and (min-width:968px) {
  .menu{
    &:after  {
      top: 25%;
    }
  }
  .nav-item {
    top: 25%;
  }
  .open_menu .nav-item:hover {
    -webkit-transform: scale(1.25) rotate(360deg);
    -ms-transform: scale(1.25) rotate(360deg);
    transform: scale(1.25) rotate(360deg);
  }
  .open_menu .nav-item:nth-child(1) {
    top: 25%;
    left: 25%;
  }
  .open_menu .nav-item:nth-child(2) {
    top: 25%;
    left: 40%;
  }
  .open_menu .nav-item:nth-child(3) {
    top: 25%;
    left: 55%;
  }
  .open_menu .nav-item:nth-child(4) {
    top: 25%;
    left: 70%;
  }
}


.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .header_left_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    .header_list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding-left: 120px;
      padding-top: 5px;
      .header_link {
        margin-right: 50px;
        color: $color-content;
        a:hover {
          text-shadow:2px 2px 2px $color-parts;
          color: $color-parts;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }
    .active {
      color: $color-headings;
    }
  }
}

.header_right_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  .icon-arrow {
    color: $color-background;
  }
}


.large {
  @extend %large_size_btn;
}

@media only screen and (min-width:968px) {
  .header_desktop {
    display: block;
  }
  .burger_menu {
    display: none;
  }
}

@media only screen and (max-width: 968px) {
  .header_desktop {
    display: none
  }
  .burger_menu {
    display: block;
  }
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 196px;
  margin-top: 112px;
  position: relative;
  .presentation_text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 570px;
    h1 {
      font-family: $title-text;
      font-size: 80px;
      line-height: 88px;
      color: $color-headings;
      padding-bottom: 51px;
    }
    p {
      font-size: 18px;
      padding-bottom: 57px;
      max-width: 380px;
      line-height: 30px;
    }
    .small {
      @extend %small_size_btn;
      background: $color-parts;
    }
  }
  .presentation_image {
    position: absolute;
    top: 92px;
    left: 362px;
  }
}

@media only screen and (max-width: 1380px) {
  .presentation_image img {
    position: relative;
    padding-top: 50px;
    width: 100%;
    max-width: 700px;
    height: auto;
  }
}

@media only screen and (max-width: 1080px) {
  .presentation_image img {
    position: relative;
    padding-top: 110px;
    width: 100%;
    max-width: 500px;
    height: auto;
  }
}

@media only screen and (max-width: 968px) {
  .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 196px;
    margin-top: 112px;
    .presentation_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      max-width: 570px;
      h1 {
        font-family: $title-text;
        font-size: 50px;
        line-height: 55px;
        color: $color-headings;
        padding-bottom: 30px;
      }
      p {
        font-size: 16px;
        padding-bottom: 37px;
        max-width: 380px;
        line-height: 25px;
      }
      .small {
        @extend %small_size_btn;
        background: $color-parts;
      }
    }
    .presentation_image {
      position: absolute;
      top: 92px;
      left: 362px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .presentation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px;
    .presentation_image img {
      display: none;
    }
    .presentation_text {
      width: 100%;
      margin: 0 auto;
      h1, p, button {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}


.evidence {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  padding-bottom: 16px;
  background: $background-one;
  border-radius: 50px;
  max-width: 1117px;
  .evidence_image {
    padding-top: 32px;
  }
  .evidence_text {
    padding-top: 121px;
    h2 {
      @extend %title_style;
    }
    p {
      font-size: 18px;
      line-height: 29px;
      padding-top: 39px;
      max-width: 474px;
    }
  }
}

.evidence > *:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1
}

.evidence > *:nth-child(2) {-ms-grid-row: 1;-ms-grid-column: 2
}

@media only screen and (max-width: 1150px) {
  .evidence {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 5%;
    .evidence_image {
      margin: 0 auto;
      padding-top: 0;
    }
    .evidence_text {
      margin: 0 auto;
      padding-top: 20px;
      h2 {
        font-size: 20px;
        text-align: center;
      }
      p {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .evidence > *:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1
  }
}

@media only screen and (max-width: 660px) {
  .evidence {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto;
    padding-bottom: 16px;
    background: $background-one;
    border-radius: 50px;
    max-width: 1117px;
    .evidence_image {
      display: none;
    }
    .evidence_text {
      padding-top: 20px;
      h2 {
        @extend %title_style;
        font-size: 25px;
        text-align: center;
      }
      p {
        font-size: 18px;
        line-height: 29px;
        padding-top: 39px;
        max-width: 474px;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
  .evidence > *:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1
  }
}

.features_grid {
  padding: 149px 63px 100px 63px;
  margin: 3px;
  h2 {
    @extend %title_style;
    text-align: center;
  }
  p {
    font-size: 18px;
    line-height: 29px;
    padding-top: 50px;
    max-width: 570px;
    margin: 0 auto;
    text-align: start;
    padding-bottom: 100px;
  }
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 24px;
  .grid_item {
    position: relative;
    padding: 32px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 107px;
      z-index: -1;
    }
  }
}

.media {
  display: flex;
  align-items: center;
  background-image: url("/assets/images/background1.svg");
  background-repeat: no-repeat;
  .media_img {
    position: relative;
    top: 20px;
    margin-right: 24px;
  }
  .position_one {
    margin-top: -113px;
  }
  .position_two {
    margin-top: -155px;
  }
  .position_three {
    margin-top: -115px;
  }
  .position_four {
    margin-top: -155px;
  }
  .media_content {
    align-items: start;
    .heading {
      @extend %title_headings;
      text-align: start;
    }
    p {
      @extend %content-text_feature;
    }
    .media_link {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      color: #212353;
      text-decoration: none;
      padding-bottom: 100px;
      .link_text {
      }
      .link_arrow {
        margin-left: 20px;
        width: 20px;
        height: 14px;
        background-size: contain;
      }
    }
  }
}

@media (min-width: 900px) {
  .grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    .grid_item {
      margin-bottom: 70px;
    }
  }
}
@media (max-width: 768px) {
  .media {
    display: flex;
    flex-direction: column;
  }
}


.testimonials_block {
  background: $color-parts;
  border-radius: 52px;
  max-width: 1118px;
  margin: 0 auto;
  padding-bottom: 131px;
  h2 {
    @extend %title_style;
    color: $color-background;
    padding: 106px 0 85px 95px;
  }
  .testimonials_card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: $color-background;
    border-radius: 20px;
    padding: 55px 0;
    width: 58%;
    margin: 0 auto;
    -webkit-box-shadow: 0 12px 3px -3px #8955da;
    box-shadow: 0 12px 3px -3px #8955da;
    .testimonials_card_avatar {
      padding-right: 28px;
      padding-left: 11%;
      padding-top: 6px;
    }
    .testimonials_card_content {
      h4 {
        padding-top: 26px;
        color: $color-headings;
        font-weight: 800;
        font-size: 18px;
        line-height: 29px;
      }
      a {
        color: $color-parts;
      }
      p {
        padding-top: 20px;
        max-width: 382px;
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}

@media only screen and (max-width: 968px) {
  .testimonials_card {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 768px) {/*как сдвинуть заголовок в середину?*/
  .testimonials_card_avatar {
    display: none;
  }
  .testimonials_card_content {
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media only screen and (max-width: 550px) {
  .testimonials_block {
    background: $color-parts;
    border-radius: 52px;
    margin: 0 auto;
    padding-bottom: 60px;
    h2 {
      @extend %title_style;
      font-size: 30px;
      color: $color-background;
      padding: 10%;
    }
    .testimonials_card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background: $color-background;
      border-radius: 20px;
      padding: 55px 0;
      width: 80%;
      -webkit-box-shadow: 0 12px 3px -3px #8955da;
      box-shadow: 0 12px 3px -3px #8955da;
      .testimonials_card_avatar {
        padding-right: 28px;
        padding-left: 11%;
        padding-top: 6px;
      }
      .testimonials_card_content {
        h4 {
          padding-top: 26px;
          color: $color-headings;
          font-weight: 800;
          font-size: 16px;
          line-height: 25px;
        }
        a {
          color: $color-parts;
        }
        p {
          padding-top: 20px;
          max-width: 382px;
          font-size: 15px;
          line-height: 32px;
        }
      }
    }
  }

}


/*FOOTER*/
.footer {
  margin-top: 151px;
  border-top: 1px solid rgba(156, 105, 226, .2);
  padding-top: 100px;
}

.free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 67px;
  margin-bottom: 150px;
  .free_text {
    h2 {
      @extend %title_style;
      padding-bottom: 20px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 29px;
    }
  }
  .free_btn {
    padding-top: 20px;
    .small_rouse {
      @extend %small_size_btn;
      background: $color-elements;
      margin-right: 23px;
    }
    .large:hover {
      background: $color-parts;
      .icon-arrow {
        color: $color-background;
      }
    }
  }
}


@media only screen and (max-width: 968px) {
  .free {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    .free_text {
      text-align: center;
      h2 {
        @extend %title_style;
        padding-bottom: 20px;
        font-size: 30px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
    }
    .free_btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      padding: 10% 10%;
      margin: 0 auto;
      .small_rouse {
        @extend %small_size_btn;
        background: $color-elements;
        margin-bottom: 55px;
      }
      .large:hover {
        background: $color-parts;
        .icon-arrow {
          color: $color-background;
        }
      }
    }
  }
}
.info {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1116px;
}

.info_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10%;
}

.logo {
  max-width: 355px;
  .logo_footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 67px;
    .title_footer {
      font-size: 20px;
      font-weight: 800;
      line-height: 32px;
      color: $color-headings;
      padding-left: 20px;
      padding-top: 5px;
    }
  }
  .logo_text {
    margin-bottom: 20px;
  }
}

.info_about {
  margin-top: 11px;
  h5 {
    @extend %signature;
    margin-bottom: 41px;
  }
  li {
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
    a:hover {
      text-shadow:2px 2px 2px $color-parts;
      color: $color-parts;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.info_help {
  margin-top: 11px;
  h5 {
    @extend %signature;
    margin-bottom: 41px;
  }
  li {
    padding-bottom: 16px;
    &:last-child {
      padding-bottom: 0;
    }
    a:hover {
      text-shadow:2px 2px 2px $color-parts;
      color: $color-parts;
      font-weight: 400;
      cursor: pointer;
    }
  }
}

.info_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 11px;
  h5 {
    @extend %signature;
    padding-bottom: 30px;
  }
  .info_media_block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    li {
      padding-right: 12px;
      a:hover {
        text-decoration: none;
      }
      .icon {
        color: $color-background;
        border: 1px solid #e9e9ee;
        background: #e9e9ee;
        border-radius: 50%;
        padding: 17px;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        &:hover {
          background: $color-parts;
          cursor: pointer;
        }
      }
    }
  }
}

.info_copyright {
  margin-top: 100px;
  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }
}

@media only screen and (max-width: 1120px) {
  .info_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 37% 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 1fr 10% 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 37%;
    grid-row-gap: 10%;
    padding: 10% 10%;
  }
  .info_content > *:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1;
  }
  .info_content > *:nth-child(2) {-ms-grid-row: 1;-ms-grid-column: 3;
  }
  .info_content > *:nth-child(3) {-ms-grid-row: 3;-ms-grid-column: 1;
  }
  .info_content > *:nth-child(4) {-ms-grid-row: 3;-ms-grid-column: 3;
  }
  .info_copyright {
    text-align: center;
  }
  .info_media {
    h5 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .info_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 10% 1fr 10% 1fr 10% 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10%;
    grid-row-gap: 10%;
    justify-items: center;
  }
  .info_content > *:nth-child(1) {-ms-grid-row: 1;-ms-grid-column: 1;
  }
  .info_content > *:nth-child(2) {-ms-grid-row: 3;-ms-grid-column: 1;
  }
  .info_content > *:nth-child(3) {-ms-grid-row: 5;-ms-grid-column: 1;
  }
  .info_content > *:nth-child(4) {-ms-grid-row: 7;-ms-grid-column: 1;
  }
  .info_copyright {
    text-align: center;
  }
  .info_media {
    h5 {
      text-align: center;
    }
  }
}

@media only screen and (max-width: 660px) {
  .free_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .small_rouse {
      margin-bottom: 30px;
      margin-left: 23px;
    }
  }
  .info_copyright {
    text-align: center;
  }
}

