<!DOCTYPE html>
<html  lang="en" class="h-100">
<head>
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <style>
    </style>
</head>
<body>
<div id="app">
    <div class="container pt-5">
        <div class="card mb-5">
            <div class="card-body">
                <form id="search_form" @submit.prevent="searchMovies">
                    <div class="row">
                        <div class="col-8">
                            <input type="search" class="form-control" placeholder="enter movie title" v-model="search">
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-info">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Movies list</h3>
            </div>
            <div class="card-body row">
                <div class="card col-3 m-5" v-for="movie in movieList" :key="movie.imdbID">
                    <img :src="movie.Poster" class="card-img-top" :alt="movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.Title }}</h5>
                        <p class="card-text">{{ movie.Year }}</p>
                        <button type="button" class="btn btn-primary" @click="getMovieInfo(movie.imdbID)">Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal_overlay" v-if="showModal">
        <div class="my_modal">
            {{ movieInfo.Title }}
            <button type="button" class="btn btn-info" @click="showModal = false">Close</button>
        </div>
    </div>
</div>

<script src="assets/js/vue.js"></script>
<script src="assets/js/axios.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
